{% extends "base.html" %}
{% load static from staticfiles %}
{% block pagename %}Schedule{% endblock %}

{% block content %}
	<div class="sitemap" style="margin-top:80px; width:100%; height:300px"></div>
    <div class="container" style="margin-top:50px; ">
        <div class="col-lg-12">
            <h5>You have been added to the email list.</h5>
            <a href="/"><div class="btn btn-default btn-lg" style="margin-top:20px; margin-bottom:100px"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</div></a>
        </div>
    </div>
{% endblock %}