{% extends "base.html" %}
{% load static from staticfiles %}
{% block pagename %}Schedule{% endblock %}

{% block content %}
	<div class="sitemap" style="margin-top:80px; width:100%; height:300px"></div>
    <div class="container" style="margin-top:50px; ">
        <div class="col-lg-12">
            {% if success %}

            <h5>You have been removed from this email list.</h5>
            <a href="/"><div class="btn btn-default btn-lg" style="margin-top:20px; margin-bottom:100px"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</div></a>
            {% else %}
            <h5>Enter email below to unsubscribe</h5>
            <form action="" onsubmit="return validateUnsubscribe()" method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Enter Your Email" class="form-control" value=""><br>
                <button class="btn btn-default btn-lg" type="submit" value="" name="unsubscribe" style="margin-top:10px; margin-bottom:100px"><i class="fa fa-thumbs-up"></i>&nbsp;Unsubscribe</button>
            </form>
            {% endif %}

       </div>
    </div>
{% endblock %}