{% extends "base.html" %}
{% load static from staticfiles %}
{% block pagename %}About{% endblock %}

{% block content %}

    <div class="container text-center">
     <!-- Buttons -->
     <div class="row" style="margin-bottom: 50px; margin-top:60px">
        <hr> 
            <div class="col-lg-4">  
                <a class="page-scroll" href="#about">
                    <div class="btn btn-default btn-lg" style="margin-bottom:15px; width:90%">
                        <h2 style="margin-top: 5px; margin-bottom:0px">ABOUT US</h2>
                        <br>
                        <i style="margin-top:-40px" class="fa fa-university fa-2x"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="page-scroll" href="#history">
                    <div class="btn btn-default btn-lg" style="margin-bottom:15px; width:90%">
                        <h2 style="margin-top: 5px; margin-bottom:0px">HISTORY</h2>
                        <br>
                        <i style="margin-top:-40px" class="fa fa-book fa-2x"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="page-scroll" href="#us">
                    <div class="btn btn-default btn-lg" style="margin-bottom:15px; width:90%">
                        <h2 style="margin-top: 5px; margin-bottom:0px">WHO WE ARE</h2>
                        <br>
                        <i style="margin-top:-40px" class="fa fa-users fa-2x"></i>
                    </div>
                </a>
            </div>
        </div>  
    </div>

    <section class="bg-3" style="min-height:300px !important">
    </section>

    <section id="about" class="container content-section tinker" style="margin-top:-215px">
        <div class="row" style="text-align:center">
            <div class="col-lg-12">
                <h3 style="text-align:left">About Us</h3>
                <p style="text-align:left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>    
            </div><!--/col-->
        </div><!--/container-->
        <div style="text-align:center">
            <a href="#history" class="btn btn-circle page-scroll" style="margin-top: -5px; margin-left:-35px; background-color:white; position:absolute">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>

    <section class="bg-4" style="min-height:300px !important">
    </section>

    <section id="history" class="container content-section tinker" style="margin-top:-215px">
        <div class="row" style="text-align:center">
            <div class="col-lg-12">
                <h3 style="text-align:right">History</h3>
                <p style="text-align:right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>    
            </div><!--/col-->
        </div><!--/container-->
        <div style="text-align:center">
            <a href="#us" class="btn btn-circle page-scroll" style="margin-top: -5px; margin-left:-35px; background-color:white; position:absolute">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>

    <section class="bg-5" style="min-height:300px !important">
    </section>

    <section id="us" class="container content-section tinker" style="margin-top:-215px">
        <div style="text-align:right; padding-right:100px">
            <img class="ed" src="{% static "img/ed.jpg" %}">
            <img class="cath" src="{% static "img/cath.jpg" %}">
            <img class="george" src="{% static "img/george.jpg" %}">
        </div>
        <div class="row" style="text-align:center">
            <div class="col-lg-12">
                <h3 style="text-align:left">Who We Are</h3>
                <p style="text-align:left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>    
            </div><!--/col-->
        </div><!--/container-->
        <div style="text-align:center">
            <a href="#contact" class="btn btn-circle page-scroll" style="margin-top: -5px; margin-left:-35px; background-color:white; position:absolute">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>

    <section class="bg-6" style="min-height:300px !important">
    </section>

{% endblock %}