{% extends "base.html" %}
{% load static from staticfiles %}
{% block pagename %}Careers{% endblock %}

{% block content %}

    <!-- Image -->
    <div class="careers" style="margin-top:80px; width:100%; height:300px">
    </div>
    <br>

    <div class="container" style="margin-top:50px">
        <div class="col-lg-7">

            <h4 style="margin-bottom:40px">Open Positions</h4>
            <div class="panel-group" id="accordion">
            {% for job in jobs %}
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <a data-toggle='collapse' data-parent='#accordion' href='#{{ forloop.counter }}' class='fora'>
                            <h4 class='panel-title somestyle'>
                                {{ job.title }}
                            </h4>
                        </a>
                    </div>
                    <div id='{{ forloop.counter}}' class='panel-collapse collapse{% if forloop.first %} in{% endif %}'>
                        <br>
                        <div class='panel-body' style='padding-left:10px'>
                            <h5 style='text-transform: none !important; margin-bottom:15px'>Job Description: <span style='font-weight:300'>{{ job.description }}</span></h5>
                            <h5 style='text-transform: none !important; margin-bottom:15px'>Required Experience: <span style='font-weight:300'>{{ job.required_experience }}</span></h5>
                            <h5 style='text-transform: none !important; margin-bottom:15px'>Work Type: <span style='font-weight:300'>{{ job.work_type }}</span></h5>
                            <h5 style='text-transform: none !important; margin-bottom:15px'>Department: <span style='font-weight:300'>{{ job.department }}</span></h5>
                            <h5 style='text-transform: none !important; margin-bottom:15px'>Posting Date: <span style='font-weight:300'>{{ job.created|date:'Y-m-d' }}</span></h5>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h5 style='text-transform: none !important; margin-bottom:15px'>There are no available positions right now. Please come back later to see if we have any open positions.</h5>
            {% endfor %}
            </div>
        </div>

        <div class="col-lg-5" style="text-align:left">
            <h4>Who We Look for</h4>
            <h5 style="margin-bottom:20px; text-transform:none !important">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
            <h5 style="margin-bottom:20px; text-transform:none !important">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
            <hr>
            <h4>Apply With Us</h4>

            <br />

            <form method="post" name='application' onsubmit="return validateApplication()" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <h5 style="margin-bottom:10px">Contact Information <font color="#FF0000">*</font></h5>
                <input type='text' name='name' placeholder='Enter Your Name' class='form-control' value=''><br>
                <input type='email' name='email' placeholder='Enter Your Email' class='form-control' value=''><br>
                <input type='tel' id="phone" name='phone' placeholder='Phone Number: (XXX) XXX-XXXX' class='form-control' value=''><br>
                <h5 style="margin-bottom:10px">Select Open Position<font color="#FF0000">*</font></h5>
                <select name="job" class="form-control">
                    <option value="">SELECT</option>
                    {% for job in jobs %}
                    <option value="{{ job.id }}">{{ job.title }}</option>
                    {% empty %}
                    <option value="">No Positions Available</option>
                    {% endfor %}
                </select>
                <br>
                <h5 style="margin-bottom:10px">Resume <font color="#FF0000">*</font></h5>
                <input type='file' name="resume" id="fileToUpload" class='form-control'>
                <div style="text-align:left; font-size:smaller; margin-top:5px">Only .PDF, .DOCX, .DOC, and .TXT files please.</div><br>
                <h5 style="margin-bottom:10px">Cover Letter</h5>
                <textarea name="cover_letter" id="message" maxlength="500" placeholder="Enter Cover Letter Here" class="form-control" style="width:100%"></textarea>
                <div style="text-align:right; font-size:smaller; margin-top:5px" id="textarea_feedback"></div><br>
                <h5 style="margin-bottom:10px">Eligible to Work in the US <font color="#FF0000">*</font></h5>
                <label class="radio-inline">
                    <input checked name="eligible" value="False" type="radio" />
                    No
                </label>
                <label class="radio-inline">
                    <input name="eligible" value="True" type="radio" />
                    Yes
                </label><br><hr>
                <button class='btn btn-default btn-lg' type='submit' name='apply' value='1' style="margin-top:10px; margin-bottom:100px"><i class='fa fa-thumbs-up'></i>&nbsp;Apply</button>
            </form>
            <br />
        </div>
    </div>

{% endblock %}
