{% extends "base.html" %}
{% load static from staticfiles %}

{% block pagename %}Home{% endblock %}

{% block body_tag %} id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"{% endblock %}

{% block content %}
    <!-- Intro Header -->
    <header class="intro">

        <!-- Carousel
        ================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item">
                  <img src="{% static "img/intro-bg.png" %}" alt="Drought Tips">
                  <div class="container">
                    <div class="carousel-caption">
                      <p class="big">Drought Tips</p>
                      <p class="small">Want to save 20-30 gallons each time you water your landscape?</p>
                      <p><a class="btn btn-lg btn-default" href="services/service-page.php?solution=35" role="button">Click Here</a></p>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <img src="{% static "img/intro-bg2.png" %}" alt="Conventional to Organic">
                  <div class="container">
                    <div class="carousel-caption">
                      <p class="big">Conventional to Organic</p>
                      <p class="small">We will work with you to go organic. Our guidance &amp; proprietary product set make the process simple and affordable.</p>
                      <p><a class="btn btn-lg btn-default" href="services/service-page.php?solution=12" role="button">Click Here</a></p>
                    </div>
                  </div>
                </div>

                <div class="item active">
                  <img src="{% static "img/intro-bg3.png" %}" alt="Agri-O™ Ollas">
                  <div class="container">
                    <div class="carousel-caption">
                      <p class="big">Agri-O™ Ollas</p>
                      <p class="small">THE solution for residential gardeners looking for a low cost, no installation needed irrigation system for flower and vegetable gardens.</p>
                      <p><a class="btn btn-lg btn-default" href="services/service-page.php?solution=64" role="button">Click Here</a></p>
                    </div>
                  </div>
                </div>

            </div>

            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
        <!-- End Carousel -->


        <!-- Buttons below slider -->
        <div class="row" style="margin-bottom: 0px; padding-left:15px; padding-right:15px">
           
            <div class="col-lg-3 col-md-3 good_size" style="background-color:white; padding:10px">
                <a href="services/services-search.php?cat=2#here" style="text-decoration:none"> 
                   <h1 style="color:black; margin-top:20px; margin-bottom:10px; border-bottom:1px solid black">eradicate</h1>
                   <h5 style="color:black; margin-bottom:20px">Remove threats... fast.</h5>
                   <p class="text-justify" style="color:black; padding-left:25px; padding-right:25px; font-size:14px">Our experts will work with you to preserve your property's beauty by destroying all the pests and diseases that attack your landscape whether they're burrowing in your lawn, blighting your roses, or eating your harvest fruit.</p>
                   </a><p><a href="services/services-search.php?cat=2#here" style="text-decoration:none"></a><a class="btn btn-lg btn-default" href="services/services-search.php?cat=2#here" role="button">See How</a></p>
            </div>
      
            <div class="col-lg-3 col-md-3 good_size" style="background-color:black; padding:10px">
                <a href="services/services-search.php?cat=1#here" style="text-decoration:none"> 
                   <h1 style="color:white; margin-top:20px; margin-bottom:10px; border-bottom:1px solid white">cultivate</h1>
                   <h5 style="color:white; margin-bottom:20px">Grow More.</h5>
                   <p class="text-justify" style="color:white; padding-left:25px; padding-right:25px; font-size:14px">Use our best fertilizers, amendments and  water preserving mulches to increase the health and productivity of your fruit trees, plantings and grasses.  Our agronomists will guide you to the most cost effective solution for any job.</p>
                   </a><p><a href="services/services-search.php?cat=1#here" style="text-decoration:none"></a><a class="btn btn-lg btn-default" href="services/services-search.php?cat=1#here" role="button">See How</a></p>
            </div>
      
            <div class="col-lg-3 col-md-3 good_size" style="background-color:white; padding:10px">
                <a href="services/services-search.php?cat=4#here" style="text-decoration:none"> 
                   <h1 style="color:black; margin-top:20px; margin-bottom:10px; border-bottom:1px solid black">Innovate</h1>
                   <h5 style="color:black; margin-bottom:20px">Grow Smarter.</h5>
                   <p class="text-justify" style="color:black; padding-left:25px; padding-right:25px; font-size:14px">We join the best new technologies for soil treatment, monitoring and irrigation with our 60 year old "green thumb" to deliver the most cost efficient management to your property - whether its a ranch, city park, or golf course.</p>
                   </a><p><a href="services/services-search.php?cat=4#here" style="text-decoration:none"></a><a class="btn btn-lg btn-default" href="services/services-search.php?cat=4#here" role="button">See How</a></p>
            </div>
      
            <div class="col-lg-3 col-md-3 good_size" style="background-color:black; padding:10px">
                <a href="services/services-search.php?cat=3#here" style="text-decoration:none"> 
                   <h1 style="color:white; margin-top:20px; margin-bottom:10px; border-bottom:1px solid white">power</h1>
                   <h5 style="color:white; margin-bottom:20px">Equipment for you.</h5>
                   <p class="text-justify" style="color:white; padding-left:25px; padding-right:25px; font-size:14px">Since our store is staffed with our applications team that is using power equipment on ranches and in gardens every day of the year, Agri Turf is the first place to shop for, repair, and maintain power tools for every landscape need.</p>
                   </a><p><a href="services/services-search.php?cat=3#here" style="text-decoration:none"></a><a class="btn btn-lg btn-default" href="services/services-search.php?cat=3#here" role="button">See How</a></p>
            </div>
                        
        </div>
    </header>


    <!-- About Section -->
    <section class="bg-1 text-center" style="min-height:300px !important">
                </section>
                                     
                <section id="about" class="container content-section tinker" style="margin-top:-215px">
                    <div class="row">
                        <div class="col-lg-12">
                          <h3 class="text-center">What We Provide:</h3>  
                          <p class="text-left"><ul>
                            <li class="retail">60 years in the business</li>
                            <li class="retail" >Operates as a full service pest control product supply business</li>
                            <li class="retail" >Developed specialized agriculture business for the myriad estate and ranches for southern Santa Barbara County</li>
                            <li class="retail" >In the vanguard in soil testing and progressive fertilization of agricultural and landscape properties</li>
                            <li class="retail" >Organic consulting and product and service providers throughout the region</li>
                            <li class="retail" >Leading the sustainability initiatives for the landscape maintenance and soil conservation</li>
                            <li class="retail" >Conventional to Organic conversion products and services</li>
                            <li class="retail" >Santa Barbara retail store with a wide variety of products and in house consultation on everything from agriculture to pest control product needs</li>
                          </ul></p>    
                        </div><!--/col-->
                                <div class="col-lg-12 text-center" style="margin-bottom:20px">
                                    <a style="color:black; text-decoration:none" href="{% url 'content:about' %}">
                                        <div class="btn btn-default btn-lg see_all">Learn More</div>
                                    </a>
                                </div>
                    </div><!--/container-->
                </section>
                  
                <section class="bg-2" style="min-height:300px !important">
                </section>
    
    <!-- Products & Services -->
    <div class="container no_display" style="margin-top:50px">
        <div class="row">
            <div class="col-lg-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="good_tab active"><a href="#services" aria-controls="services" role="tab" data-toggle="tab" class="great_tab">Featured Solutions</a></li>
                        <li role="presentation" class="good_tab"><a href="#products" aria-controls="products" role="tab" data-toggle="tab" class="great_tab">Case Studies</a></li>
                        <li role="presentation" class="good_tab"><a href="#customers" aria-controls="customers" role="tab" data-toggle="tab" class="great_tab"> Customers</a></li>
                    </ul>

                    <!-- Tab panes -->

                    <!-- Featured Solutions -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="services">
                            <br>
                            <div class="row">

                                {% for solution in featured %}
                                <div class="col-lg-4 col-xs-4" style="margin-bottom:10px !important">
                                    <form action="{% url 'services:view' 'avocado-thripsnutrient-treat' %}" method="GET">
                                        <button type="submit" style="padding:0px; border:0px">
                                            <div class="cuadro_intro_hover photo" style="background-color:#cccccc;">
                                            <p style="text-align:center">
                                                <img src="{{ MEDIA_URL }}{{ solution.image_1 }}" width="100%" class="img-responsive" alt="Avocado Thrips/Nutrient Treat.">
                                            </p>
                                            <div class="caption">
                                                <div class="blur"></div>
                                                <div class="caption-text">
                                                    <h5 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px">{{ solution.name }}</h5>
                                                    <br><br>
                                                    <div class="caption-button">
                                                        <h4 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px"><i class="fa fa-plus-square"></i> MORE INFO</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </button>
                                    </form>
                                </div>
                                {% endfor %}
                                    
                            </div>

                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <hr>
                                    <a style="color:black; text-decoration:none" href="{% url "services:search" %}">
                                        <div class="btn btn-default btn-lg see_all">Browse All Solutions</div>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!-- End Featured Solutions -->

                        <!-- Case Studies -->
                        <div role="tabpanel" class="tab-pane fade" id="products">
                           <br>
                            <div class="row">
                                <div class="panel-group" id="accordion">
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="fora">
                                        <h4 class="panel-title somestyle" style="background-color:rgba(0,102,51,.3); padding-left:5px">
                                          Case Study 1
                                        </h4>
                                      </a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                      <div class="panel-body" style="padding-left:10px; padding-right:5px">
                                        <p class="sidelinkP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <p class="sidelinkP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <p class="sidelinkP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="fora">
                                        <h4 class="panel-title somestyle" style="background-color:rgba(204,204,204,1); padding-left:5px">
                                          Case Study 2
                                        </h4>
                                      </a>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                      <div class="panel-body" style="padding-left:10px; padding-right:5px">
                                        <p class="sidelinkP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <p class="sidelinkP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <p class="sidelinkP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="fora">
                                        <h4 class="panel-title somestyle" style="background-color:rgba(0,102,51,.3); padding-left:5px">
                                          Case Study 3
                                        </h4>
                                      </a>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                      <div class="panel-body" style="padding-left:10px; padding-right:5px">
                                        <p class="sidelinkP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <p class="sidelinkP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <p class="sidelinkP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="fora">
                                        <h4 class="panel-title somestyle" style="background-color:rgba(204,204,204,1); padding-left:5px">
                                          Case Study 4
                                        </h4>
                                      </a>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                      <div class="panel-body" style="padding-left:10px; padding-right:5px">
                                        <p class="sidelinkP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <p class="sidelinkP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <p class="sidelinkP">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Case Studies -->

                        <!-- Customers -->
                        <div role="tabpanel" class="tab-pane fade" id="customers">
                            <br>
                            <div class="container" style="margin-bottom:25px; margin-top:25px">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6" style="margin-top:25px">
                                        <div class="photo">
                                              <img src="{% static "img/customers/customers1.png" %}" width="100%" class="img-responsive" alt="a">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-6 text-left text-fixer-left" style="margin-top:25px">  
                                                  <h3>Resident</h3>
                                                  <p class="bringjustice">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                                   </div>
                                </div>
                             </div>
                             
                             <hr>
                             
                              <div class="container" style="margin-bottom:25px; margin-top:25px">
                                <div class="row">
                                    <div class="col-lg-8 col-sm-6 text-fixer-right hidetext" style="margin-top:25px">
                                              <h3>Professional Applicators</h3>
                                                  <p class="bringjustice">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                                    </div>
                                    <div class="col-lg-4 col-sm-6" style="margin-top:25px">
                                        <div class="photo">  
                                                  <img src="{% static "img/customers/customers1.png" %}" width="100%" class="img-responsive" alt="a">
                                        </div>
                                   </div>
                                   <div class="col-lg-8 col-sm-6 text-fixer-right showtext" style="margin-top:25px">
                                              <h3>Professional Applicators</h3>
                                                  <p class="bringjustice">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                                    </div>
                                </div>
                             </div>
                             
                             <hr>
                             
                              <div class="container" style="margin-bottom:25px; margin-top:25px">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6" style="margin-top:25px">
                                        <div class="photo">
                                            <img src="{% static "img/customers/customers1.png" %}" width="100%" class="img-responsive" alt="a">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-6 text-fixer-left" style="margin-top:25px">  
                                        <h3>Ranchers/Farmers</h3>
                                        <p class="bringjustice">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                                    </div>
                                </div>
                             </div>
                        </div>
                        <!-- End Customers -->

                    </div>
                </div>
            </div>
        </div>
    <br><br> 
    </div>
{% endblock %}

