{% extends "base.html" %}
{% load static from staticfiles %}
{% block pagename %}Send Us A Message{% endblock %}

{% block content %}
    <div style="margin-top:80px">
        <div class="overlay" onclick="style.pointerEvents='none'"></div>
        <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zL7VsRnhknUc.kRzpVrHDJ4oo" width="100%" height="480" marginheight="0" marginwidth="0" frameborder="0" scrolling="no"></iframe>
    </div>
    <br id="here">
    <div class="container" style="margin-top:50px">
        <div class="col-lg-7">
            
            {% if success %}

            <h5 style="margin-bottom:20px; text-transform:none !important; color:rgba(51,102,0,1)">Your message has been sent. We will respond as soon as possible. Thank you.</h5>

            {% else %}

            <h4>Message Us</h4>
            <form action="" name="contactUs" onsubmit="return validateContactUs()" method="post">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Enter Your Name (required)" class="form-control" value=""><br>
                <input type="email" name="email" placeholder="Enter Your Email (required)" class="form-control" value=""><br>
                <input type="tel" id="phone" tabindex="3" name="phone" placeholder="Phone Number: (XXX) XXX-XXXX" class="form-control" value=""><br>
                <textarea name="message" id="message" maxlength="500" placeholder="Enter Message Here" class="form-control" style="width:100%"></textarea>
                <div style="padding-right:15px; text-align:right; font-size:smaller; margin-top:5px; margin-bottom:35px" id="textarea_feedback">500 characters remaining</div>
                <button class="btn btn-default btn-lg" type="submit" value="submit" name="send" style="margin-top:10px; margin-bottom:100px"><i class="fa fa-thumbs-up"></i>&nbsp;Submit</button>
            </form>

            {% endif %}

        </div>
        <div class="col-lg-5" style="text-align:left">
            <h4>Find Us</h4>
            <h5 style="margin-bottom:20px; text-transform:none; font-weight:300">Please use the contact form on this page to submit a question or comment. A representative will promptly respond to your message!</h5>
            <h5 style="margin-bottom:20px; text-transform:none; font-weight:300">We love to hear from our customers and look forward to any information they feel the need to share.</h5>
            <h5 style="text-transform:none">Click on the button below for our contact information.</h5>
            <a style="" class="page-scroll" href="#contact">
                <div class="btn btn-default btn-lg" style="margin-bottom:100px; width:100%">
                    <i class="fa fa-map-marker fa-2x"></i> Contact Info
                </div>
            </a>
        </div>
    </div>
{% endblock %}
