/* For Service Selector */
.somestyle {
	padding-bottom: 10px; 
	padding-top:10px; 
	border-bottom:1px solid black; 
	border-top:1px solid black;
}

.sidelinkP {
		margin-bottom: 5px;
		margin-top: 5px;
		font-size:14px;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		color:black;
}

.sidelinkA {
		color:black;
}

.sidelinkA:hover {
		color:rgba(102,102,102,1);
}

.fora {
		color:black;
}

.fora:hover {
		color:black;
}

/* for pagination */
.sidelinkP2 {
		margin-bottom: 5px;
		margin-top: 5px;
		font-size:16px;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		color:black;
}

/*To remove border to the left of the service list in mobile */

.borderkill {
	border-left:2px solid black;	
}

@media (max-width: 767px) {
	.borderkill {
	border-left:hidden;	
}
}
