/*!
 * Start Bootstrap - 
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    max-width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #FFF;
}

html {
    max-width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

input {
	font-size:16px !important;
}
select {
	font-size:16px !important;
}
option {
	font-size:16px !important;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #9DC6B6;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #000;
}

.navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(0,0,0,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(0,0,0,.3);
}

@media(min-width:992px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #fff;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(0,0,0,.3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    color: #000;
    /* background: url(../img/landscape/intro-bg.png) no-repeat center center scroll; */
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:767px) {
	.intro .intro-body {
		display: table-cell;
	}
}

@media(max-width:766px) {
	.intro .intro-body {
		display: table-cell;
	}
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #000;
    border-radius: 35px;
    font-size: 40px;
    color: #000;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #000;
    background: rgba(0,0,0,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.the_same {
		text-align: justify !important;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

.content-section {
    padding-top: 275px;
	margin-bottom: 30px;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
	.the_same {
		text-align: center !important;
	}
	
    .content-section {
        padding-top: 275px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #9DC6B6;
	color: #000;
    background-color: rgba(255,255,255,.5);
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #9DC6B6;
    outline: 0;
    color: #fff;
    background-color: #9DC6B6;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	font-size:14px;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}



/* For fixed images HOMEPAGE!!!!*/
	section {
	  color: #000;
	  height: auto !important;
	  height: 100%;
	  padding-top:100px;
	}
	
@media(min-width:500px) {
	.bg-1 {
		background: url('../img/blurb/about-bg-1.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.bg-2 {
		background: url('../img/blurb/about-bg-2.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

@media(max-width:499px) {
	.bg-1 {
		background: url('../img/blurb/about-bg-1-sm.jpg') no-repeat center center scroll; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.bg-2 {
		background: url('../img/blurb/about-bg-2-sm.jpg') no-repeat center center scroll; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

/*END OF HOME PAGE FIXED IMAGES */

/*About Page FIxed Images */

@media(min-width:500px) {
	.bg-3 {
		background: url('../img/about/about-bg-3.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.bg-4 {
		background: url('../img/about/about-bg-4.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.bg-5 {
		background: url('../img/about/about-bg-5.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.bg-6 {
		background: url('../img/about/about-bg-6.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

@media(max-width:499px) {
	.bg-3 {
		background: url('../img/about/about-bg-3-sm.jpg') no-repeat center center scroll; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.bg-4 {
		background: url('../img/about/about-bg-4-sm.jpg') no-repeat center center scroll; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.bg-5 {
		background: url('../img/about/about-bg-5-sm.jpg') no-repeat center center scroll; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.bg-6 {
		background: url('../img/about/about-bg-6-sm.jpg') no-repeat center center scroll; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

/*End of ABOUT PAGE FIXED IMAGES */

/*Info Page Pics */

.careers {
		background: url('../img/careers.jpg') no-repeat center center scroll; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

.sitemap {
		background: url('../img/sitemap.jpg') no-repeat center center scroll; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
.use {
		background: url('../img/use.jpg') no-repeat center center scroll; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

.servepic {
		background: url('../img/service.jpg') no-repeat center center scroll; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

.propic {
		background: url('../img/products.jpg') no-repeat center center scroll; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}


.verticalLine {
    border-right: thin solid black;
}

@media(min-width:768px) {
	.marginmobile {
		margin-top:-400px;	
	}
	.fixer {
		margin-bottom: 250px;
	}
}

@media(max-width:767px) {
	.marginmobile {
		margin-top:-300px;	
	}
	.fixer {
		margin-bottom: ;
	}
}

.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
@media (max-width: 400px) {
	
	/* Carousel base class */
	.carousel {
	  height: 220px;
	  margin-top:60px;
	}
	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
	  z-index: 10;
	  top: 5px;
	}
	
	.big {
	  font-size:18px;
	  text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
	  margin-bottom:5px;
	}
	
	.small {
	  font-size:12px;
	  text-transform: uppercase;
	  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	  font-weight: 700;
	  letter-spacing: 1px;
	  margin-top:0px;
	}
	
	/* Declare heights because of positioning of img element */
	.carousel .item {
	  height: 220px;
	  background-color: #777;
	}
	.carousel-inner > .item > img {
	  position: absolute;
	  top: 0;
	  min-width: 100%;
	  height: auto;
	  
	}
	
}

@media (min-width: 401px) and (max-width: 599px) {
	
	/* Carousel base class */
	.carousel {
	  height: 300px;
	  margin-top:60px;
	}
	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
	  z-index: 10;
	  top: 25px;
	}
	
	.big {
	  font-size:18px;
	  text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
	}
	
	.small {
	  font-size:12px;
	  text-transform: uppercase;
	  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	  font-weight: 700;
	  letter-spacing: 1px;
	}
	
	/* Declare heights because of positioning of img element */
	.carousel .item {
	  height: 300px;
	  background-color: #777;
	}
	.carousel-inner > .item > img {
	  position: absolute;
	  top: 0;
	  min-width: 100%;
	  height: auto;
	  
	}
	
}

@media (min-width: 600px) and (max-width: 867px) {
	
	/* Carousel base class */
	.carousel {
	  height: 450px;
	  margin-top:60px;
	}
	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
	  z-index: 10;
	  top: 50px;
	}
	
	.big {
	  font-size:24px;
	  text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
	}
	
	.small {
	  font-size:18px;
	  text-transform: uppercase;
	  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	  font-weight: 700;
	  letter-spacing: 1px;
	}
	
	/* Declare heights because of positioning of img element */
	.carousel .item {
	  height: 450px;
	  background-color: #777;
	}
	.carousel-inner > .item > img {
	  position: absolute;
	  top: 0;
	  min-width: 100%;
	  height: auto;
	  
	}
	
}

@media (min-width: 868px) and (max-width: 1091px) {
	
	/* Carousel base class */
	.carousel {
	  height: 600px;
	  margin-top: 60px;
	}
	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
	  z-index: 10;
	  top: 100px;
	}
	
	.big {
	  font-size:30px;
	  text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
	}
	
	.small {
	  font-size:20px;
	  text-transform: uppercase;
	  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	  font-weight: 700;
	  letter-spacing: 1px;
	}
	
	/* Declare heights because of positioning of img element */
	.carousel .item {
	  height: 600px;
	  background-color: #777;
	}
	.carousel-inner > .item > img {
	  position: absolute;
	  top: 0;
	  min-width: 100%;
	  height: auto;
	  
	}

}

@media (min-width: 1092px) {
	
	/* Carousel base class */
	.carousel {
	  height: 700px;
	}
	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
	  z-index: 10;
	  top: 200px;
	}
	
	.big {
	  font-size:36px;
	  text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
	}
	
	.small {
	  font-size:24px;
	  text-transform: uppercase;
	  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	  font-weight: 700;
	  letter-spacing: 1px;
	}
	
	/* Declare heights because of positioning of img element */
	.carousel .item {
	  height: 700px;
	  background-color: #777;
	}
	.carousel-inner > .item > img {
	  position: absolute;
	  top: 0;
	  min-width: 100%;
	  height: auto;
	  
	}

}

/* Hover Effect for Products */

@media (max-width: 767px) {
	.no_display {
		display:none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.cuadro_intro_hover{
    	padding: 0px;
		position: relative;
		overflow: hidden;
		height: 200px;
	}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-160px);
		-webkit-transform:translateY(-160px);
		-moz-transform:translateY(-160px);
		-ms-transform:translateY(-160px);
		-o-transform:translateY(-160px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:160px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(255,255,255,0.7);
		height: 200px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #000000;
		position: absolute;
		height: 200px;
		text-align: center;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text .caption-button{
		z-index: 10;
		color: #000000;
		position: absolute;
		text-align: center;
		width: 100%;
		margin-top: -40px;
		height:50px;
		background-color:white;
	}
}

@media (min-width: 992px) {
.cuadro_intro_hover{
    	padding: 0px;
		position: relative;
		overflow: hidden;
		height: 260px;
	}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-220px);
		-webkit-transform:translateY(-220px);
		-moz-transform:translateY(-220px);
		-ms-transform:translateY(-220px);
		-o-transform:translateY(-220px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:220px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(255,255,255,0.7);
		height: 260px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #000000;
		position: absolute;
		height: 260px;
		text-align: center;
		top:;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text .caption-button{
		z-index: 10;
		color: #000000;
		position: absolute;
		text-align: center;
		width: 100%;
		height:50px;
		background-color:white;
	}
}

/* -- For share icons --*/

@media (max-width: 499px) {
	.sharer {
		margin-top:0px;
		color: white;
		font-size:14px;
	    text-transform: uppercase;
	    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-weight: 500;
	    letter-spacing: 1px;
	}
}

@media (min-width:500px) and (max-width: 767px) {
	.sharer {
		margin-top:-3px;
		color: white;
		font-size:18px;
	    text-transform: uppercase;
	    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-weight: 600;
	    letter-spacing: 1px;
	}
}


@media (min-width:768px) and (max-width: 991px) {
	.sharer {
		margin-top:-3px;
		color: #414141;
		font-size:18px;
	    text-transform: uppercase;
	    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-weight: 600;
	    letter-spacing: 1px;
	}
	
	.sharer:hover {
	   color: white;
	}
}

@media (min-width: 992px) {
	.sharer {
		margin-top:-5px;
		color:#414141;
		font-size:22px;
	    text-transform: uppercase;
	    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-weight: 700;
	    letter-spacing: 1px;
	}
	
	.sharer:hover {
	   color: white;
	}
}

/*-- For products on hover --*/
.border-bottom {
		border-bottom: 1px solid #CDCDCD;
}

.border-bottom:hover {
		border-bottom: 1px solid black;
}

/* --- See All Buttons --- */
@media (max-width: 767px) {
	.see_all {
		width: 95%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.see_all {
		width: 60%;
	}
}

@media (min-width: 992px) {
	.see_all {
		width: 45%
	}
}

/* --- Customer Text fix on Mobile --- */
@media (max-width: 767px) {
	.special_width {
		width: 90%;
	}
	.taller {
		margin-top:20px;
	}
}

@media (min-width: 768px) {
	.special_width {
		width: 400px;
	}	
}

@media (min-width: 1200px) {
	.taller {
		margin-top:15px;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.taller {
		margin-top:30px;
	}
}

@media (min-width:992px) {
	.good_tab {
	  font-size:24px;
	  text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
	  text-decoration:none;
	}
	
	.great_tab:hover {
		color:rgba(51,51,51,.8) !important;
	}
}

@media (min-width: 768px) and (max-width:991px) {
	.good_tab {
	  font-size:16px;
	  text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 500;
      letter-spacing: 1px;
	  text-decoration:none;
	}
	
	.great_tab:hover {
		color:rgba(51,51,51,.8) !important;
	}
}

@media (min-width: 401px) and (max-width: 767px) {
	.good_tab {
	  font-size:12px;
	  text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 400;
      letter-spacing: 1px;
	  text-decoration:none;
	}
	
	.great_tab:hover {
		color:rgba(51,51,51,.8) !important;
	}
}

@media (max-width: 400px) {
	.good_tab {
	  font-size:10px;
	  text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 200;
      letter-spacing: 0.03em;
	  text-decoration:none;
	}
	
	.great_tab:hover {
		color:rgba(51,51,51,.8) !important;
	}
}

@media (max-width: 991px) {
	.gone {
		display:none !important;
	}
}

/*For newsletter text*/

@media (max-width: 499px) {
	.news {
		margin-top: 10px;
		font-size:12px;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}
}

@media (min-width: 500px) and (max-width: 767px) {
	.news {
		margin-top: 20px;
		font-size:16px;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}
}

@media (min-width: 768px){
	.news {
		margin-top: 20px;
		font-size:18px;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}
}

/*for customers page */
.text-fixer-left {
	text-align:left;
}

.text-fixer-right {
	text-align:right;
}

.hidetext {
	display:block;
}

.showtext {
	display:none;
}

@media (max-width: 767px){
	.text-fixer-left {
		text-align:center;
	}
	
	.text-fixer-right {
		text-align:center;
	}
	
	.bringjustice {
		text-align:justify !important;
		margin-left:10px;
		margin-right:10px;
	}
	
	.hidetext {
		display:none;
	}
	
	.showtext {
		display:block;
	}
}

.btn-services {
	width:100%;
	height:auto;
	color:white;
	background: url('../img/customers/cust-services.jpg') no-repeat center center scroll;
	border: 2px solid #9DC6B6; 
	
}

.btn-services:hover,
.btn-services:focus {
	border: 2px solid #9DC6B6;
	opacity: .8;
	color: black;
}

.btn-products {
	width:100%;
	height:auto;
	color:white;
	background: url('../img/customers/cust-products.jpg') no-repeat center center scroll; 
	border: 2px solid #9DC6B6;
}

.btn-products:hover,
.btn-products:focus {
	border: 2px solid #9DC6B6;
	opacity: .8;
	color: black;
}

/* For Product Page*/
.retail {
		margin-top: 5px;
		margin-bottom: 0px; 
		font-size:18px;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	
.retail-less {
		margin-top: 5px;
		margin-bottom: 0px; 
		font-size:18px;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		text-decoration:line-through;
	}
	
.sale {
		margin-top: 5px;
		margin-bottom: 0px; 
		font-size:18px;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		color: rgba(153,0,0,1);
	}
	

@media (max-width: 499px) {
	.organic {
			top:60px;
			right:30px;
			position:absolute;
		}
		
		.orgimg {
			 height:80px; 
			 width:auto;
		}
}

@media (min-width: 500px) and (max-width: 767px) {
	.organic {
		top:60px;
		right:50px;
		position:absolute;
	}
	
	.orgimg {
		 height:130px; 
		 width:auto;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.organic {
		margin-top:-580px;
		margin-left:250px;
		position:absolute;
	}
	
	.orgimg {
		 height:100px; 
		 width:auto;
	}
}

@media (min-width: 992px) and (max-width:1199px){
	.organic {
		margin-top:-500px;
		margin-left:320px;
		position:absolute;
	}
	
	.orgimg {
		 height:130px; 
		 width:auto;
	}
}

@media (min-width: 1200px) {
	.organic {
		margin-top:-450px;
		margin-left:320px;
		position:absolute;
	}
	
	.orgimg {
		 height:130px; 
		 width:auto;
	}
	
}

.checkout {
	position: fixed;
	top:80px;
	right:-20px;
	z-index:20;
}

.backb {
	position:absolute;
	top:80px;
	left:-20px;
	z-index:20;
}

/*For Order SUmmary on Checkout*/
.summary {
		margin-top: 5px;
		margin-bottom: 0px; 
		font-size:14px !important;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		border-bottom: 1px solid rgba(51,51,51,.3);
	}

.total {
		margin-top: 5px;
		margin-bottom: 0px; 
		font-size:14px !important;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	
.confirm {
		margin-top: 5px;
		margin-bottom: 0px; 
		font-size:14px !important;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		border-bottom: 1px solid rgba(51,51,51,.3);
		margin-left:15px;
	}
	
/* Remove complete in mobile for progress bar in checkout */
@media (max-width:499px) {
	.away {
		display:none;
	}
}

/* Checkout button */
@media (max-width:767px) {
	.formobile {
		font-size:12px !important;
	}
}

/* Who We Are Headshots */
@media (min-width: 768px) {
	.ed {
		width: 100px;
		position:absolute;
		border: 1px solid black;
		margin-top: -135px;
		z-index: 10;
	}
	.cath {
		width: 100px;
		position:absolute;
		border: 1px solid black;
		margin-top: -135px;
		margin-left:-160px;
		z-index: 10;
	}
	.george {
		width: 100px;
		position:absolute;
		border: 1px solid black;
		margin-top: -135px;
		margin-left:-320px;
		z-index: 10;
	}
	
	.ed:hover {
		width: 180px;
		position:absolute;
		border: 1px solid black;
		margin-top: -200px;
		margin-left: -60px;
		z-index: 10;
	}
	.cath:hover {
		width: 180px;
		position:absolute;
		border: 1px solid black;
		margin-top: -200px;
		margin-left:-200px;
		z-index: 10;
	}
	.george:hover {
		width: 180px;
		position:absolute;
		border: 1px solid black;
		margin-top: -200px;
		margin-left:-340px;
		z-index: 10;
	}
	
}

@media (max-width: 767px) {
	.ed {
		width: 50px;
		position:absolute;
		border: 1px solid black;
		margin-top: -100px;
		z-index: 10;
	}
	.cath {
		width: 50px;
		position:absolute;
		border: 1px solid black;
		margin-top: -100px;
		margin-left:-80px;
		z-index: 10;
	}
	.george {
		width: 50px;
		position:absolute;
		border: 1px solid black;
		margin-top: -100px;
		margin-left:-160px;
		z-index: 10;
	}
	
	.ed:hover {
		width: 90px;
		position:absolute;
		border: 1px solid black;
		margin-top: -125px;
		margin-left: -30px;
		z-index: 10;
	}
	.cath:hover {
		width: 90px;
		position:absolute;
		border: 1px solid black;
		margin-top: -125px;
		margin-left:-100px;
		z-index: 10;
	}
	.george:hover {
		width: 90px;
		position:absolute;
		border: 1px solid black;
		margin-top: -125px;
		margin-left:-170px;
		z-index: 10;
	}
	
}

/* Black & White Buttons */

@media (min-width: 992px) and (max-width: 1099px) {
	.good_size {
		height: 450px;
	}
}

@media (min-width: 1100px) and (max-width: 1199px) {
	.good_size {
		height: 420px;
	}
}

@media (min-width: 1200px) and (max-width: 1399px) {
	.good_size {
		height: 380px;
	}
}

@media (min-width: 1400px) {
	.good_size {
		height: 320px;
	}
}



