@charset "UTF-8";
/* CSS Document */

/* Hover Effect for Services */


@media (max-width: 767px) {
	.lou_intro_hover{
    	
	}
	.lou_intro_hover:hover .caption{
		
	}
	.lou_intro_hover img{
		
	}
	.lou_intro_hover .caption{
		background-color: white;
		color: black;
		height:50px;
		margin-top: -25px;
		overflow: hidden;
	}
	.lou_intro_hover .blur{
		visibility:hidden;		
		overflow:hidden;
	}
	.lou_intro_hover .caption-text{
		color: black;
		text-align:center;
		overflow:hidden;
	}
	.lou_intro_hover .caption-text .caption-button{
		visibility:hidden;
		overflow:hidden;
	}
}



@media (min-width: 768px) and (max-width: 991px){
.lou_intro_hover{
    	padding: 0px;
		position: relative;
		overflow: hidden;
		height: 195px;
	}
	.lou_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-155px);
		-webkit-transform:translateY(-155px);
		-moz-transform:translateY(-155px);
		-ms-transform:translateY(-155px);
		-o-transform:translateY(-155px);
	}
	.lou_intro_hover img{
		z-index: 4;
	}
	.lou_intro_hover .caption{
		position: absolute;
		top:155px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.lou_intro_hover .blur{
		background-color: rgba(255,255,255,0.7);
		height: 220px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.lou_intro_hover .caption-text{
		z-index: 10;
		color: #000000;
		position: absolute;
		height: 220px;
		text-align: center;
		top:;
		width: 100%;
	}
	.lou_intro_hover .caption-text .caption-button{
		z-index: 10;
		color: #000000;
		position: absolute;
		text-align: center;
		width: 100%;
		height:50px;
		background-color:white;
		padding-top:5px;
	}
}

@media (min-width: 992px) and (max-width:1199px){
.lou_intro_hover{
    	padding: 0px;
		position: relative;
		overflow: hidden;
		height: 200px;
	}
	.lou_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-160px);
		-webkit-transform:translateY(-160px);
		-moz-transform:translateY(-160px);
		-ms-transform:translateY(-160px);
		-o-transform:translateY(-160px);
	}
	.lou_intro_hover img{
		z-index: 4;
	}
	.lou_intro_hover .caption{
		position: absolute;
		top:160px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.lou_intro_hover .blur{
		background-color: rgba(255,255,255,0.7);
		height: 220px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.lou_intro_hover .caption-text{
		z-index: 10;
		color: #000000;
		position: absolute;
		height: 220px;
		text-align: center;
		top:;
		width: 100%;
	}
	.lou_intro_hover .caption-text .caption-button{
		z-index: 10;
		color: #000000;
		position: absolute;
		text-align: center;
		width: 100%;
		height:50px;
		background-color:white;
		padding-top:5px;
	}
}

@media (min-width: 1200px) {
.lou_intro_hover{
    	padding: 0px;
		position: relative;
		overflow: hidden;
		height: 180px;
	}
	.lou_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-140px);
		-webkit-transform:translateY(-140px);
		-moz-transform:translateY(-140px);
		-ms-transform:translateY(-140px);
		-o-transform:translateY(-140px);
	}
	.lou_intro_hover img{
		z-index: 4;
	}
	.lou_intro_hover .caption{
		position: absolute;
		top:140px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.lou_intro_hover .blur{
		background-color: rgba(255,255,255,0.7);
		height: 220px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.lou_intro_hover .caption-text{
		z-index: 10;
		color: #000000;
		position: absolute;
		height: 180px;
		text-align: center;
		top:;
		width: 100%;
	}
	.lou_intro_hover .caption-text .caption-button{
		z-index: 10;
		color: #000000;
		position: absolute;
		text-align: center;
		width: 100%;
		height:50px;
		background-color:white;
		padding-top:5px;
		margin-top:-20px;
	}
}

/* For Service Selector */
.somestyle {
	padding-bottom: 10px; 
	padding-top:10px; 
	border-bottom:1px solid black; 
	border-top:1px solid black;
}

.sidelinkP {
		margin-bottom: 5px;
		margin-top: 5px;
		font-size:14px;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		color:black;
}

.sidelinkA {
		color:black;
}

.sidelinkA:hover {
		color:rgba(102,102,102,1);
}

.fora {
		color:black;
}

.fora:hover {
		color:black;
}

/* for pagination */
.sidelinkP2 {
		margin-bottom: 5px;
		margin-top: 5px;
		font-size:16px;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		color:black;
}

/*To remove border to the left of the service list in mobile */

.borderkill {
	border-left:2px solid black;	
}

@media (max-width: 767px) {
	.borderkill {
	border-left:hidden;	
}
}






