       <!-- Left Accordian -->
        <div class="col-lg-3 col-sm-4" style="margin-top:30px; margin-bottom:75px">
            <h4 style="margin-bottom:25px">Problem Identifier</h4>

            <div class="panel-group" id="accordion">
                
                {% for menu_item in menu%}
                <div class="panel panel-default">

                    <!-- Parent Category-->
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#{{ forloop.counter }}" class="fora">
                            <h4 class="panel-title somestyle">
                                {{ menu_item.parent.name }}
                            </h4>
                        </a>
                    </div>

                    
                    <div id="{{ forloop.counter }}" class="panel-collapse collapse{% if menu_item.active %} in{% endif %}">
                        <div class="panel-body" style="padding-left:10px">
                            
                            {% for sub_menu_item in menu_item.children %}

                            <!-- Child Category -->
                            <form action="{% url 'services:filter' sub_menu_item.id %}" method="get">
                                <p class="sidelinkP">
                                    <button class="sidelinkA" style="padding:0px; margin:0px; border:none; background-color:white" type="submit">
                                        {{ sub_menu_item.name }}<b> ({{ sub_menu_item.service_set.count }})</b>
                                    </button>
                                </p>
                            </form>
                            <!-- End Child Category -->

                            {% endfor %}

                             <!-- See All Link -->
                            <form action="{% url 'services:filter' menu_item.parent.id %}" method="get">
                                <p class="sidelinkP">
                                    <button class="sidelinkA" style="padding:0px; margin:0px; border:none; background-color:white" type="submit">
                                        <b>See All</b>
                                    </button>
                                </p>
                            </form>
                            <!-- End See All Link -->
                            
                        </div>
                    </div>
                    

                </div>
                {% endfor %}
                
            </div>
            <br><br>
        </div>
        <!-- End Left Accordian -->