{% extends "base.html" %}
{% load static from staticfiles %}
{% block pagename %}Schedule{% endblock %}

{% block content %}
    <div class="container" style="margin-top:135px; margin-bottom 25px">
        <h1 class="text-center" style="font-size:100px"><i style="color:green" class="fa fa-thumbs-up"></i></h1>
        <h2 style="margin-bottom:10px">Your 64007-64253 Throttle Cable Assy is scheduled!</h2> 
        <h3>Your confirmation number is: 1317409872</h3>
        <h5 style="font-weight:300 !important; text-transform:none !important">Please review your details below and contact us if there are any changes in your schedule.</h5>
        <div>
             <h5>Name: <span style="font-weight:300 !important; text-transform:none !important">Name</span></h5>
             <h5>Email: <span style="font-weight:300 !important; text-transform:none !important">email@email.com</span></h5>
             <h5>Telephone: <span style="font-weight:300 !important; text-transform:none !important">(310) 000-0000</span></h5>
             <h5>Address: <span style="font-weight:300 !important; text-transform:none !important">Address Here</span></h5>
             <h5>Zip: <span style="font-weight:300 !important; text-transform:none !important">90000</span></h5>
             <h5>Consultation Day: <span style="font-weight:300 !important; text-transform:none !important">2015-02-07</span></h5>
        </div>                   
    </div>

    <div class="container" style="margin-top:25px; margin-bottom:25px">
        <a href="{% url "home" %}"><div class="btn btn-default" style="margin-right:15px"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</div></a>
        <a href="{% url "services:search" %}"><div class="btn btn-default"><i class="fa fa-tree"></i>&nbsp;&nbsp;More Solutions</div></a>
    </div>
{% endblock %}