{% extends "base.html" %}
{% load static from staticfiles %}
{% block pagename %}About{% endblock %}
{% block css %}
    {{ block.super }}
    <link href="{% static "css/search.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="servepic" style="margin-top:80px; width:100%; height:300px">
    </div>
    <br>
    <div class="container" style="margin-bottom:50px">
        <h2 style="text-align:center; margin-top:30px; margin-bottom:20px">Our Solutions</h2>


        {% include 'services/_accordian_menu.html' %}


        <!-- Main Solutions Section -->
        <div class="col-lg-9 col-sm-8 borderkill" style="margin-top:30px">
            <div id="here" style="margin-top:-85px; margin-bottom:85px"></div>
            <h4 style="margin-bottom:0px">Solution List</h4>
            <br><br>

            <form action="{% url "services:search" %}" method="get"><p class="sidelinkP">Displaying: {% if selected %}{{ selected.name }}{% else %}All  Solutions{% endif %} <button type="submit" style="background-color:white; padding:0px; margin:0px; border:none"><i class="fa fa-times"></i></button></p></form>            <div role="tabpanel" class="tab-pane fade in active" id="services">
            <br>

            <div class="row">
                {% for service in services %}
                <div class="col-lg-4 col-sm-6" style="margin-bottom:10px !important">
                    <form action="{% url "services:view" service.slug %}">
                        <button type="submit" style="padding:0px; border:0px; width:100%">
                            <div class="lou_intro_hover photo" style="background-color:#cccccc">
                                <p style="text-align:center">
                                    <img src="{{ MEDIA_URL }}{{ service.image_1 }}" width="100%" class="img-responsive" alt="64007-64253 Throttle Cable Assy">
                                </p>
                                <div class="caption">
                                    <div class="blur"></div>
                                    <div class="caption-text">
                                        <h5 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px">{{ service.name }}</h5>
                                        <br><br>
                                        <div class="caption-button">
                                            <h4 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px"><i class="fa fa-plus-square"></i> MORE INFO</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
                {% endfor %}

            </div>
        </div>
        <!-- End Main Solutions Section -->

        <!-- Pagination -->
        <div style="text-align:right">
            <p class="sidelinkP2"><b>{{ services.paginator.count }} Total Solutions</b></p> <p class="sidelinkP2"><br>
            {% if services.has_previous %}
                <font size="1"></font></p>
                <a class="sidelinkA" href="?page={{ services.previous_page_number }}&amp;nation=0&amp;cat=1#here">Previous 9</a> &nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}
            {% if services.has_next %}
                <a class="sidelinkA" href="?page={{ services.next_page_number }}&amp;nation=0&amp;cat=1#here">See Next 9</a>
            {% endif %}
            <p></p></div>
        </div>
        <!-- End Pagination -->

    </div>

{% endblock %}
