{% extends "base.html" %}
{% load static from staticfiles %}
{% block pagename %}Service{% endblock %}

{% block content %}

    <!-- Image and Description Section -->
    <div class="container" style="margin-bottom:25px; margin-top:100px">
        <div class="row">
            <div class="col-lg-5 col-sm-6" style="margin-top:20px">
                <div role="tabpanel">
                    <br>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        {% if service.image_1 %}
                        <div role="tabpanel" class="tab-pane fade active in" id="pic1">
                            <div class="photo">
                                <img src="{{ MEDIA_URL }}{{ service.image_1 }}" width="100%" class="img-responsive" alt="64007-64253 Throttle Cable Assy">
                            </div>
                        </div>
                        {% endif %}

                        {% if service.image_2 %}
                        <div role="tabpanel" class="tab-pane fade" id="pic2">
                            <div class="photo">
                                <img src="{{ MEDIA_URL }}{{ service.image_2 }}" width="100%" class="img-responsive" alt="64007-64253 Throttle Cable Assy">
                            </div>
                        </div>
                        {% endif %}

                        {% if service.image_3 %}
                        <div role="tabpanel" class="tab-pane fade" id="pic3">
                            <div class="photo">
                                <img src="{{ MEDIA_URL }}{{ service.image_3 }}" width="100%" class="img-responsive" alt="64007-64253 Throttle Cable Assy">
                            </div>
                        </div>
                        {% endif %}

                        {% if service.image_4 %}
                        <div role="tabpanel" class="tab-pane fade" id="pic3">
                            <div class="photo">
                                <img src="{{ MEDIA_URL }}{{ service.image_4 }}" width="100%" class="img-responsive" alt="64007-64253 Throttle Cable Assy">
                            </div>
                        </div>
                        {% endif %}

                        {% if service.image_5 %}
                        <div role="tabpanel" class="tab-pane fade" id="pic3">
                            <div class="photo">
                                <img src="{{ MEDIA_URL }}{{ service.image_4 }}" width="100%" class="img-responsive" alt="64007-64253 Throttle Cable Assy">
                            </div>
                        </div>
                        {% endif %}

                    </div>

                    <!-- tab list for pictures -->
                    <ul class="list-inline" style="border:none; margin-top:15px" role="tablist">

                        {% if service.image_1 %}
                        <li role="presentation" class="active">
                            <a href="#pic1" aria-controls="pic1" role="tab" data-toggle="tab" class="great_tab">
                                <img src="{{ MEDIA_URL }}{{ service.image_1 }}" width="80px" class="img-responsive" alt="64007-64253 Throttle Cable Assy">
                            </a>
                        </li>
                        {% endif %}

                        {% if service.image_2 %}
                        <li role="presentation" class="">
                            <a href="#pic2" aria-controls="pic2" role="tab" data-toggle="tab" class="great_tab">
                                <img src="{{ MEDIA_URL }}{{ service.image_2 }}" width="80px" class="img-responsive" alt="64007-64253 Throttle Cable Assy">
                            </a>
                        </li>
                        {% endif %}

                        {% if service.image_3 %}
                        <li role="presentation" class="">
                            <a href="#pic3" aria-controls="pic3" role="tab" data-toggle="tab" class="great_tab">
                                <img src="{{ MEDIA_URL }}{{ service.image_3 }}" width="80px" class="img-responsive" alt="64007-64253 Throttle Cable Assy">
                            </a>
                        </li>
                        {% endif %}

                        {% if service.image_4 %}
                        <li role="presentation" class="">
                            <a href="#pic4" aria-controls="pic4" role="tab" data-toggle="tab" class="great_tab">
                                <img src="{{ MEDIA_URL }}{{ service.image_4 }}" width="80px" class="img-responsive" alt="64007-64253 Throttle Cable Assy">
                            </a>
                        </li>
                        {% endif %}

                        {% if service.image_5 %}
                        <li role="presentation" class="">
                            <a href="#pic1" aria-controls="pic5" role="tab" data-toggle="tab" class="great_tab">
                                <img src="{{ MEDIA_URL }}{{ service.image_5 }}" width="80px" class="img-responsive" alt="64007-64253 Throttle Cable Assy">
                            </a>
                        </li>
                        {% endif %}

                    </ul>

                </div>
            </div>

            <div class="col-lg-7 col-sm-6" style="margin-top:40px">
                <h2 style="margin-bottom:10px">{{ service.name }}</h2>
                <h5 style="margin-bottom:15px">Schedule a free inspection today!</h5>
                <a class="page-scroll" href="#schedule"><div class="btn btn-default"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Schedule</div></a>
                <p class="retail" style="margin-top:30px"><b>What We Provide:</b> {{ service.description }}</p>
            </div>
        </div>
    </div>
    <!-- End Image and Description Section -->


    <!-- Identification Guide and Related Services Section -->
    <div class="container" style="margin-top:20px; margin-bottom:25px">
        <div role="tabpanel">
            <br>
            <!-- tab list for pictures -->
            <ul class="nav nav-tabs no_display" role="tablist">
                <li role="presentation" class="active">
                    <a href="#moreinfo" aria-controls="moreinfo" role="tab" data-toggle="tab" class="great_tab">
                        <h5 style="margin-bottom:10px">
                            Identification Guide
                        </h5>
                    </a>
                </li>
                {% if service.related_services.all %}
                <li role="presentation" class="get-active">
                    <a href="#label" aria-controls="label" role="tab" data-toggle="tab" class="great_tab">
                        <h5 style="margin-bottom:10px">
                            Related Services
                        </h5>
                    </a>
                </li>
                {% endif %}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="moreinfo">
                    <br>
                    <p class="retail"><b>You Need {{ service.name }} If:</b> {{ service.identification_guide}}</p>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="label">

                    {% for related_service in service.related_services.all %}
                    <br>
                    <h4 style="margin-bottom:10px">{{ related_service.name }}</h4>
                    <p class="retail">{{ related_service.description }}</p>
                    <br>
                    <form action="{% url 'services:view' related_service.slug %}" method="get">
                        <button type="submit" class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;&nbsp;View Solution</button>
                    </form>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
    <!-- Identification Guide and Related Services Section -->


    <!-- Related Products -->
    <div class="container" style="margin-top:20px; margin-bottom 25px; ">
        <hr>
        <h4 style="margin-bottom:10px">Do it Yourself Products Related to {{ service.name }}:</h4>
        <h5 style="color:rgba(153,0,0,1)">free shipping on all products!</h5>
        <div class="row">

            {% for product in service.related_products.all %}

                {% include 'shop/_single_product.html' with product=product %}

            {% endfor %}

        </div>
    </div>
    <!-- End Related Products -->


    <!-- Schedule Consultation -->
    <div class="container" style="margin-top:20px; margin-bottom 25px">
        <h4>Schedule a free {{ service.name }}:</h4>
        <div class="row">
            <form action="" name="service" onsubmit="return validateService()" method="post">
            {% csrf_token %}
                <div class="col-lg-6">
                    <h5 style="margin-bottom:10px">Contact Information <font color="#FF0000">*</font></h5>
                    <input type="text" name="name" placeholder="Enter Your Name" class="form-control" value=""><br>
                    <input type="email" name="email" placeholder="Enter Your Email" class="form-control" value=""><br>
                    <input type="tel" id="phone" name="phone" placeholder="Phone Number: (XXX) XXX-XXXX" class="form-control" value=""><br>
                </div>
                <div class="col-lg-6">
                    <h5 style="margin-bottom:10px">Inspection Information</h5>
                    <input type="text" name="address" placeholder="Enter Your Address" class="form-control" value=""><br>
                    <input type="text" id="zip" name="zip" placeholder="Enter Your Zip Code" class="form-control" value=""><br>
                    <input type="text" name="date" placeholder="Select a Date for Inspection" class="form-control datepicker" value=""><br>
                    <button class="btn btn-default btn-lg" type="submit" name="schedule" value="84" style="margin-top:10px; margin-bottom:100px"><i class="fa fa-thumbs-up"></i>&nbsp;Submit</button>
                </div>
            </form>
        </div>

    </div>
    <!-- End Schedule Consultation -->

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>

    <script>
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            daysOfWeekDisabled: "0",
            todayHighlight: true
        });
    </script>

    <div class="datepicker dropdown-menu">
        <div class="datepicker-days" style="display: block;">
            <table class=" table-condensed">
                <thead>
                    <tr><th class="prev">‹</th><th colspan="5" class="switch">February 2015</th><th class="next">›</th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr>
                </thead>
                <tbody>
                    <tr><td class="day  old">25</td><td class="day  old">26</td><td class="day  old">27</td><td class="day  old">28</td><td class="day  old">29</td><td class="day  old">30</td><td class="day  old">31</td></tr><tr><td class="day ">1</td><td class="day ">2</td><td class="day ">3</td><td class="day ">4</td><td class="day ">5</td><td class="day ">6</td><td class="day ">7</td></tr><tr><td class="day ">8</td><td class="day ">9</td><td class="day ">10</td><td class="day ">11</td><td class="day ">12</td><td class="day ">13</td><td class="day  active">14</td></tr><tr><td class="day ">15</td><td class="day ">16</td><td class="day ">17</td><td class="day ">18</td><td class="day ">19</td><td class="day ">20</td><td class="day ">21</td></tr><tr><td class="day ">22</td><td class="day ">23</td><td class="day ">24</td><td class="day ">25</td><td class="day ">26</td><td class="day ">27</td><td class="day ">28</td></tr><tr><td class="day  new">1</td><td class="day  new">2</td><td class="day  new">3</td><td class="day  new">4</td><td class="day  new">5</td><td class="day  new">6</td><td class="day  new">7</td></tr>
                </tbody>
            </table>
        </div>
        <div class="datepicker-months" style="display: none;">
            <table class="table-condensed">
                <thead><tr><th class="prev">
                    ‹</th><th colspan="5" class="switch">2015</th><th class="next">›</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7"><span class="month">Jan</span><span class="month active">Feb</span><span class="month">Mar</span><span class="month">Apr</span><span class="month">May</span><span class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span class="month">Sep</span><span class="month">Oct</span><span class="month">Nov</span><span class="month">Dec</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datepicker-years" style="display: none;">
            <table class="table-condensed">
                <thead>
                    <tr><th class="prev">‹</th><th colspan="5" class="switch">2010-2019</th><th class="next">›</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span class="year">2011</span><span class="year">2012</span><span class="year">2013</span><span class="year">2014</span><span class="year active">2015</span><span class="year">2016</span><span class="year">2017</span><span class="year">2018</span><span class="year">2019</span><span class="year old">2020</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
