
    <!-- More Information and Product Labels -->
    <div class="container" style="margin-top:20px; margin-bottom:25px">
        <div role="tabpanel">
            <br>
            <!-- tab list for pictures -->
            <ul class="nav nav-tabs no_display" role="tablist">

                <li role="presentation" class="active">
                    <a href="#moreinfo" aria-controls="moreinfo" role="tab" data-toggle="tab" class="great_tab">
                        <h5 style="margin-bottom:10px">
                            More Information
                        </h5>
                    </a>
                </li>
                {% if product.label or product.msds_label %}
                <li role="presentation">
                    <a href="#label" aria-controls="label" role="tab" data-toggle="tab" class="great_tab">
                        <h5 style="margin-bottom:10px">
                            Product Label(s)
                        </h5>
                    </a>
                </li>
                {% endif %}

            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="moreinfo">
                    <br>
                    <p class="retail"><b>Rate &amp; Combination:</b> {{ product.rate_combo }}</p>
                    <p class="retail"><b>Size/Quantity:</b> {{ product.size }}</p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="label">

                    <h5 style="margin-top:25px">
                        Click on the button(s) below to view, download, or print the label(s).
                    </h5>

                    {% if product.label %}
                    <a href="{{ MEDIA_URL }}{{ product.label }}"><div class="btn btn-default" style="margin-right:20px"><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;Product Label</div></a>
                    {% endif %}

                    {% if product.msds_label %}
                    <a href="{{ MEDIA_URL }}{{ product.msds_label }}"><div class="btn btn-default"><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;MSDS Label</div></a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <!-- End More Information and Product Labels -->
