
            <!-- Product Info -->
            <div class="col-lg-7 col-sm-6" style="margin-top:40px">
                <h2 style="margin-bottom:10px">{{ product.name }}</h2>

                <h5 style="margin-bottom:15px">
                    {%if product.manufacturer_name %}
                        By {%if product.manufacturer_website %}<a href="{{ product.manufacturer_website }}">{% endif %}{{ product.manufacturer_name }}</a>
                    {% endif %}
                </h5>

                <div style="margin-bottom:20px">
                    <form action="{% url 'shop:cart' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="adjust_quantity">
                        <label>
                            <p class="retail" style="font-size:smaller">QUANTITY</p>
                            <input type="number" name="quantity" value="1" style="width:70px" class="form-control">
                        </label>
                        <button type="submit" value="{{ product.id }}" name="item_number" class="btn btn-default" style="margin-left:10px; margin-top:-7px"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Add to Cart</button>
                    </form>
                </div>

                {%if product.on_sale %}
                <p class="retail-less">Price: ${{ product.product_price }}</p>
                <p class="sale">Sale Price: ${{ product.sale_price }}</p>
                {% else %}
                <p class="retail">Price: ${{ product.product_price }}</p>
                {% endif %}

                <p class="retail" style="font-size:smaller; margin-top:5px">&amp; FREE SHIPPING! 
                    {%if product.on_sale %}<span class="sale" style="font-size:small">You save {{ savings|floatformat:"0" }}%</span>{% endif %}
                </p>
                <br>

                <p class="retail"><b>Product Description:</b> {{ product.description }}</p>
            </div>
            <!-- End Product Info -->