
    <!-- Related Products -->
    <div class="container" style="margin-top:20px; margin-bottom 25px; ">
        <hr>
        <h4>People Who Bought Product E Also Considered:</h4> 
        <div class="row">

            <div class="col-lg-3 col-xs-6 button_show" style="margin-bottom:10px !important">
                <form action="{% url 'shop:view_product' 'product-a' %}" method="GET">
                    <button type="submit" style="padding:0px; border:0px">
                        <div class="border-bottom" style="background-color:white">
                            <div class="photo">
                                <img src="/media/products/images/1.png" width="100%" class="img-responsive" alt="Product A">
                            </div>
                            <div class="text-center"> 
                                <h4 style="margin-top:20px; margin-bottom:10px">Product A</h4>
                                <p style="margin-bottom:5px; font-size:110%" ="">64 ounces: <b><font style="color:rgba(153,0,0,1)">$36.45</font></b></p>
                                <h5 style="margin-top:0px; margin-bottom:5px"><b><font style="color:rgba(153,0,0,1)"><br></font></b></h5>
                            </div>
                        </div>
                    </button>
                </form>
            </div>

            <div class="col-lg-3 col-xs-6 button_show" style="margin-bottom:10px !important">
                <form action="{% url 'shop:view_product' 'product-b' %}" method="GET">
                    <button type="submit" style="padding:0px; border:0px">
                        <div class="border-bottom" style="background-color:white">
                            <div class="photo">
                                <img src="/media/products/images/6.png" width="100%" class="img-responsive" alt="Product F">
                            </div>
                            <div class="text-center"> 
                                <h4 style="margin-top:20px; margin-bottom:10px">Product F</h4>
                                <p style="margin-bottom:5px; font-size:110%" ="">5 traps: <b><font style="color:rgba(153,0,0,1)">$15.00</font></b></p>
                                <h5 style="margin-top:0px; margin-bottom:5px"><b><font style="color:rgba(153,0,0,1)">ON SALE!</font></b></h5>
                            </div>
                        </div>
                    </button>
                </form>
            </div>

            <div class="col-lg-3 col-xs-6 button_show" style="margin-bottom:10px !important">
                <form action="{% url 'shop:view_product' 'product-c' %}" method="GET">
                    <button type="submit" style="padding:0px; border:0px">
                        <div class="border-bottom" style="background-color:white">
                            <div class="photo">
                                <img src="/media/products/images/7.png" width="100%" class="img-responsive" alt="Product G">
                            </div>
                            <div class="text-center"> 
                                <h4 style="margin-top:20px; margin-bottom:10px">Product G</h4>
                                <p style="margin-bottom:5px; font-size:110%" ="">1 hawk: <b><font style="color:rgba(153,0,0,1)">$10.80</font></b></p>
                                <h5 style="margin-top:0px; margin-bottom:5px"><b><font style="color:rgba(153,0,0,1)">ON SALE!</font></b></h5>
                            </div>
                        </div>
                    </button>
                </form>
            </div>

            <div class="col-lg-3 col-xs-6 button_show" style="margin-bottom:10px !important">
                <form action="{% url 'shop:view_product' 'product-d' %}" method="GET">
                    <button type="submit" style="padding:0px; border:0px">
                        <div class="border-bottom" style="background-color:white">
                            <div class="photo">
                                <img src="/media/products/images/8.png" width="100%" class="img-responsive" alt="Product H">
                            </div>
                            <div class="text-center"> 
                                <h4 style="margin-top:20px; margin-bottom:10px">Product H</h4>
                                <p style="margin-bottom:5px; font-size:110%" ="">10 gallons: <b><font style="color:rgba(153,0,0,1)">$3.00</font></b></p>
                                <h5 style="margin-top:0px; margin-bottom:5px"><b><font style="color:rgba(153,0,0,1)"><br></font></b></h5>
                            </div>
                        </div>
                    </button>
                </form>
            </div>

        </div>                   
    </div>
    <!-- End Related Products -->