
                <div role="tabpanel">
                    <br>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="pic1">
                            <div class="photo">
                                <img src="{{ MEDIA_URL }}{{ product.image_1 }}" width="100%" class="img-responsive" alt="Product E">
                            </div>
                        </div>

                        {% if product.image_2 %}
                        <div role="tabpanel" class="tab-pane fade" id="pic2">
                            <div class="photo">
                                <img src="{{ MEDIA_URL }}{{ product.image_2 }}" width="100%" class="img-responsive" alt="Product E">
                            </div>
                        </div>
                        {% endif %}

                        {% if product.image_3 %}
                        <div role="tabpanel" class="tab-pane fade" id="pic3">
                            <div class="photo">
                                <img src="{{ MEDIA_URL }}{{ product.image_2 }}" width="100%" class="img-responsive" alt="Product E">
                            </div>
                        </div>
                        {% endif %}

                        {% if product.image_4 %}
                        <div role="tabpanel" class="tab-pane fade" id="pic4">
                            <div class="photo">
                                <img src="{{ MEDIA_URL }}{{ product.image_2 }}" width="100%" class="img-responsive" alt="Product E">
                            </div>
                        </div>
                        {% endif %}

                        {% if product.image_5 %}
                        <div role="tabpanel" class="tab-pane fade" id="pic5">
                            <div class="photo">
                                <img src="{{ MEDIA_URL }}{{ product.image_2 }}" width="100%" class="img-responsive" alt="Product E">
                            </div>
                        </div>
                        {% endif %}

                    </div>

                    <!-- tab list for pictures -->
                    <ul class="list-inline" style="border:none" role="tablist">

                        <li role="presentation" class="active"><a href="#pic1" aria-controls="pic1" role="tab" data-toggle="tab" class="great_tab"><img src="{{ MEDIA_URL }}{{ product.image_1 }}" width="80px" class="img-responsive" alt="Product E"></a></li>

                        {% if product.image_2 %}
                        <li role="presentation"><a href="#pic2" aria-controls="pic2" role="tab" data-toggle="tab" class="great_tab"><img src="{{ MEDIA_URL }}{{ product.image_2 }}" width="80px" class="img-responsive" alt="Product E"></a></li>
                        {% endif %}

                        {% if product.image_3 %}
                        <li role="presentation"><a href="#pic3" aria-controls="pic3" role="tab" data-toggle="tab" class="great_tab"><img src="{{ MEDIA_URL }}{{ product.image_3 }}" width="80px" class="img-responsive" alt="Product E"></a></li>
                        {% endif %}

                        {% if product.image_4 %}
                        <li role="presentation"><a href="#pic4" aria-controls="pic4" role="tab" data-toggle="tab" class="great_tab"><img src="{{ MEDIA_URL }}{{ product.image_4 }}" width="80px" class="img-responsive" alt="Product E"></a></li>
                        {% endif %}

                        {% if product.image_5 %}
                        <li role="presentation"><a href="#pic5" aria-controls="pic5" role="tab" data-toggle="tab" class="great_tab"><img src="{{ MEDIA_URL }}{{ product.image_5 }}" width="80px" class="img-responsive" alt="Product E"></a></li>
                        {% endif %}

                    </ul>
                    <!-- End tab list for pictures -->
                </div>