
{% if format == "checkout" %}
            <div class="col-lg-3 col-xs-6 button_show" style="margin-bottom:10px !important">
                <div class="border-bottom">
                    <div class="photo">
                        <img src="{{ MEDIA_URL}}{{ product.image_1 }}" width="100%" class="img-responsive" alt="a">
                    </div>
                    <div class="text-center"> 
                        <b>{{ product.name }}</b>
                        <p style="margin-bottom:0px; font-size:110%;">{{ product.size }}: <b><font style="color:rgba(153,0,0,1)">{% if product.on_sale %}${{ product.sale_price }}{% else %}${{ product.product_price }}{% endif %}</font></b></p> 
                        <b>Quantity: {{ quantity }}</b>
                        <hr style="margin:5px">
                        <h5 style="margin-top:15px; margin-bottom:15px">Change Quantity</h5>
                        <form action="{% url 'shop:cart'  %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="adjust_quantity">
                            <div style="margin-left:8%; margin-right:8%" class="input-group text-center">
                                <input min="-{{ quantity }}" style="border-radius:0px !important" type="number" name="quantity" value="{{ quantity }}" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" style="border-radius:0px !important" type="submit" name="item_number" value="{{ product.id }}">+ / -</button>
                                </span>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
{% else %}
            <div class="col-lg-3 col-xs-6 button_show" style="margin-bottom:10px !important">
                <form action="{% url 'shop:view_product' product.slug %}" method="GET">
                    <button type="submit" style="padding:0px; border:0px">
                        <div class="border-bottom" style="background-color:white">
                            <div class="photo">
                                <img src="{{ MEDIA_URL}}{{ product.image_1 }}" width="100%" class="img-responsive" alt="Product E">
                            </div>
                            <div class="text-center"> 
                                <h4 style="margin-top:20px; margin-bottom:10px">{{ product.name }}</h4>
                                <p style="margin-bottom:5px; font-size:110%">{{ product.size }}: 
                                    <b><font style="color:rgba(153,0,0,1)">{% if product.on_sale %}${{ product.sale_price }}{% else %}${{ product.product_price }}{% endif %}</font></b>
                                </p>
                                <h5 style="margin-top:0px; margin-bottom:5px">
                                    <b><font style="color:rgba(153,0,0,1)">{% if product.on_sale %}ON SALE!{% else %}<br>{% endif %}</font></b>
                                </h5>
                            </div>
                        </div>
                    </button>
                </form>
            </div>
{% endif %}
