{% extends "base.html" %}
{% load static from staticfiles %}
{% block pagename %}About{% endblock %}


{% block content %}
    {% if not request.session.cart_quantity %}
    <!-- Empty Cart -->
    <div class="container" style="margin-top:135px; margin-bottom 25px">
        <p class="text-center" style="font-size:85px; color:rgba(153,0,0,1)"><i class="fa fa-warning"></i></p>
        <h2 style="margin-bottom:40px">You have no items in your shopping cart.</h2> 
        <h5>Click on solutions and select one to view the do it yourself products to solve your agricultural issues.</h5>
        <a href="{% url "services:search" %}"><div style="margin-bottom:100px" class="btn btn-default"><i class="fa fa-tree"></i>&nbsp;&nbsp;View Solutions</div></a>
    </div>
    <!-- End Empty Cart -->
    {% endif %}
    

    {% if request.session.cart_quantity %}
    <!-- Products In Cart -->
    <div class="container" style="margin-top:135px; margin-bottom 25px">

        <h2 style="margin-bottom:10px">Items in your shopping cart:</h2> 
        <h5>You have {{ request.session.cart_quantity }} items in your shopping cart.</h5>
        <div class="row" style=" ">

            {% for item in cart_items %}
                {% include 'shop/_single_product.html' with product=item.product quantity=item.quantity format="checkout" %}
            {% endfor %}

        </div>                   
    </div>
    <!-- End Products In Cart -->
    {% endif %}


    <!-- Free Shipping -->
    <div class="container" style="margin-top:25px; margin-bottom:25px; ">
        <h4 style="color:rgba(153,0,0,1); margin-bottom:10px">Free shipping on your order!</h4>
        <a href="{% url "shop:start_checkout" %}"><div class="btn btn-default" style="margin-right:15px; margin-bottom:10px"><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;Proceed to Checkout</div></a>
        <a href="{% url "services:search" %}"><div class="btn btn-default" style="margin-bottom:10px"><i class="fa fa-tags"></i>&nbsp;&nbsp;Continue Shopping</div></a>
    </div>
    <!-- End Free Shipping -->


    <!-- Reserve For Pickup -->
    <div class="container" style="  margin-top:50px; margin-bottom:25px; ">
        <h4>Or, reserve these items for an in-store pickup below</h4>
        <form action="" name="pickup" onsubmit="return validatePickup()" method="post">
            <div class="col-lg-6">
                <input type="text" name="name" placeholder="Enter Your Name (required)" class="form-control" value=""><br>
                <input type="email" name="email" placeholder="Enter Your Email (required)" class="form-control" value=""><br>
            </div>
            <div class="col-lg-6">
                <input type="tel" id="phone" name="telephone" placeholder="Enter Your Phone Number" class="form-control" value=""><br>
                <input type="text" name="date" placeholder="Date for Pickup" class="form-control datepicker" value=""><br>
            </div>
            <button class="btn btn-default btn-lg" type="submit" value="submit" name="pickup" style="margin-top:10px; margin-bottom:100px"><i class="fa fa-thumbs-up"></i>&nbsp;Submit</button>
        </form>
    </div>
    <!-- End Reserve For Pickup -->

{% endblock %}