{% extends "base.html" %}
{% load static from staticfiles %}
{% load humanize %}
{% block pagename %}Checkout Step 1{% endblock %}

{% block content %}
    <div class="container" style="margin-top:130px; margin-bottom 25px">
        <h2 style="margin-bottom:15px">Checkout: Step 1 of 2</h2> 
        <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%; background-color:rgba(153,0,0,1)">
                <h5 style="margin-top:3px">50% <span class="away">Complete</span></h5>
            </div>
        </div>

        <div class="row">
            <!-- Left Section - Order Summary -->
            <div class="col-lg-5 text-center showtext">

                <div class="panel-group" style="border:none" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding-top:15px; padding-bottom:15px; background-color:white">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="toggle_visibility('foo'); toggle_minus('foo2')" class="fora" style="color:black">
                                <h4 class="panel-title text-left" style="font-size:18px">
                                    Order Summary <i id="foo" style="visibility:visible" class="fa fa-plus"></i><i id="foo2" style="visibility:hidden; margin-left:-15px" class="fa fa-minus"></i>
                                </h4>
                            </a>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="row text-left" style="padding-left:15px; padding-right:15px; padding-top:30px">
                                <h5 style="margin-bottom:10px">Product</h5>

                                <!-- Products In Cart -->
                                <div class="col-xs-9" style="padding-right:0px">
                                    {% for item in cart_items %}
                                    <p class="summary">{{ item.product.name }} ({{ item.quantity }} at ${{ item.product.current_price|floatformat:2|intcomma }})</p>
                                    {% endfor %}

                                    <p class="total"><b> {{ request.session.cart_quantity }} Product{{ request.session.cart_quantity|pluralize }}</b></p>
                                </div>
                                <!-- End Products In Cart -->

                                <!-- Products Subtotal -->
                                <div class="col-xs-3 text-right" style="padding-left:0px">
                                    {% for item in cart_items %}
                                    <p class="summary">${{ item.price_of_quantity|floatformat:2|intcomma }}</p>
                                    {% endfor %}
                                    <p class="total"><b>${{ request.session.cart_subtotal|floatformat:2|intcomma }}</b></p>
                                </div>
                                <!-- End Products Subtotal-->

                            </div>

                            <div style="text-align:left !important; margin-top:0px">
                                <form action="{% url "shop:cart" %}">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</button>
                                </form>
                            </div>

                            <br><br>

                            <div class="row text-left" style="padding-left:15px; padding-right:15px">
                                <h5 style="margin-bottom:10px">Order Cost</h5>

                                <div class="col-xs-6" style="padding-right:0px">

                                    <p class="summary"><b>Item</b></p>
                                    <p class="summary">Taxes</p>
                                    <p class="summary">S &amp; H</p>
                                    <p class="total"><b>Grand Total</b></p>
                                </div>
                                <div class="col-xs-6 text-right" style="padding-left:0px">
                                    
                                    <p class="summary">${{ request.session.cart_subtotal|floatformat:2|intcomma }}</p>
                                    
                                    <p class="summary">$0.00</p>
                                    <p class="summary">FREE</p>
                                    <p class="total"><b>${{ request.session.cart_subtotal|floatformat:2|intcomma }}</b></p>
                                </div>
                            </div>                  
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-lg-5 hidetext">
                <div class="jumbotron" style="padding-left:10px; padding-right:10px; background-color:white">
                    <h4>Order Summary</h4>
                    <div class="row" style="padding-left:15px; padding-right:15px">
                        <h5 style="margin-bottom:10px">Product</h5>
                        <div class="col-xs-6" style="padding-right:0px">

                            {% for item in cart_items %}
                                    <p class="summary">{{ item.product.name }} ({{ item.quantity }} at ${{ item.product.current_price|floatformat:2|intcomma }})</p>
                            {% endfor %}


                            <p class="total"><b>{{ request.session.cart_quantity }} Product{{ request.session.cart_quantity|pluralize }}</b></p>
                        </div>
                        <div class="col-xs-6 text-right" style="padding-left:0px">
                        {% for item in cart_items %}
                            <p class="summary">${{ item.price_of_quantity|floatformat:2|intcomma }}</p>
                        {% endfor %}
                            <p class="total"><b>${{ request.session.cart_subtotal|floatformat:2|intcomma }}</b></p>
                        </div>
                    </div>

                    <div style="text-align:left !important; margin-top:0px">
                        <form action="{% url "shop:cart" %}" method="get">
                            <button type="submit" class="btn btn-default"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</button>
                        </form>
                    </div>

                    <br><br><br>

                    <div class="row" style="padding-left:15px; padding-right:15px">
                        <h5 style="margin-bottom:10px">Order Cost</h5>
                        <div class="col-xs-6" style="padding-right:0px">

                            <p class="summary"><b>Item</b></p>
                            <p class="summary">Taxes</p>
                            <p class="summary">S &amp; H</p>
                            <p class="total"><b>Grand Total</b></p>
                        </div>
                        <div class="col-xs-6 text-right" style="padding-left:0px">
                            <p class="summary">${{ request.session.cart_subtotal|floatformat:2|intcomma }}</p>
                            <p class="summary">$0</p>
                            <p class="summary">FREE</p>
                            <p class="total"><b>${{ request.session.cart_subtotal|floatformat:2|intcomma }}</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Left Section - Order Summary -->


            
            <script type="text/javascript">
            function toggle_visibility(id) {
                var e = document.getElementById(id);
                if(e.style.visibility== 'visible')
                    e.style.visibility = 'hidden';
                else
                    e.style.visibility = 'visible';
            }
            function toggle_minus(id) {
                var e = document.getElementById(id);
                if(e.style.visibility== 'visible')
                    e.style.visibility = 'hidden';
                else
                    e.style.visibility = 'visible';
            }
            </script> 


            <!-- Right Section - Shipping Info -->
            <div class="col-lg-7">
                <div class="jumbotron" style="background-color:#9DC6B6; border-radius:5px">
                    <form action="{% url "shop:checkout_step" 2 %}" name="shipping" onsubmit="return validateShipping()" method="post">
                        {% csrf_token %}
                        <h4>Enter Shipping Information</h4>
                        <h5 style="margin-bottom:10px">Name</h5>
                        <input type="text" name="name" placeholder="Enter Your Name" class="form-control" value="{{ request.session.user_info.name }}"><br>
                        <h5 style="margin-bottom:10px">Email</h5>
                        <input type="email" name="email" placeholder="Enter Your Email" class="form-control" value="{{ request.session.user_info.email }}"><br>
                        <h5 style="margin-bottom:10px">Phone</h5>
                        <input type="tel" id="phone" name="phone" placeholder="Enter Your Phone Number" class="form-control" value="{{ request.session.user_info.phone }}"><br>
                        <h5 style="margin-bottom:10px">Address</h5>
                        <input type="text" name="address1" placeholder="Address Line 1" class="form-control" value="{{ request.session.user_info.address1 }}"><br>
                        <input type="text" name="address2" placeholder="Address Line 2" class="form-control" value="{{ request.session.user_info.address2 }}"><br>
                        <div class="col-xs-5" style="padding-left:0px; margin-bottom:10px">
                            <h5 style="margin-bottom:10px">City</h5>
                            <input type="text" name="city" placeholder="Enter City" class="form-control" value="{{ request.session.user_info.city }}">
                        </div>
                        <div class="col-xs-3" style="margin-bottom:10px; padding-right:0px; padding-left:0px">
                            <h5 style="margin-bottom:10px">State</h5>
                            <select name="state" class="form-control">
                                <option value="{{ request.session.user_info.state }}">{{ request.session.user_info.state }}</option>
                                <option value="AL">AL</option>
                                <option value="AK">AK</option>
                                <option value="AZ">AZ</option>
                                <option value="AR">AR</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DE">DE</option>
                                <option value="DC">DC</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="IA">IA</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="ME">ME</option>
                                <option value="MD">MD</option>
                                <option value="MA">MA</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MS">MS</option>
                                <option value="MO">MO</option>
                                <option value="MT">MT</option>
                                <option value="NE">NE</option>
                                <option value="NV">NV</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NY">NY</option>
                                <option value="NC">NC</option>
                                <option value="ND">ND</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VT">VT</option>
                                <option value="VA">VA</option>
                                <option value="WA">WA</option>
                                <option value="WV">WV</option>
                                <option value="WI">WI</option>
                                <option value="WY">WY</option>
                            </select>
                        </div>
                        <div class="col-xs-4" style="padding-right:0px; margin-bottom:10px">
                            <h5 style="margin-bottom:10px">Zip</h5>
                            <input type="text" id="zip_code" name="zip_code" placeholder="Enter Zip Code" class="form-control" value="{{ request.session.user_info.zip_code }}">
                        </div>
                        <p class="retail" style="font-size:12px; margin-bottom:0px">All Fields Are Required</p>
                        <br>
                        <button type="submit" name="proceed" class="btn btn-default"><i class="fa fa-check"></i>&nbsp;&nbsp;Proceed to Last Step</button>
                    </form>
                </div>           
            </div>
        </div>
    </div>
{% endblock %}
    