{% extends "base.html" %}
{% load static from staticfiles %}
{% block pagename %}Checkout Step 1{% endblock %}

{% block content %}
    <div class="container" style="margin-top:130px; margin-bottom 25px">
        <h2 style="margin-bottom:15px">Checkout: Step 2 of 2</h2>
        <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%; background-color:rgba(153,0,0,1)">
            <h5 style="margin-top:3px">99% Complete</h5>
            </div>
        </div> 

        <div class="row">

            <!-- Left Column - Order Summary -->
            <div class="col-lg-5 text-center showtext">
                <div class="panel-group" style="border:none" id="accordion">
                    <div class="panel panel-default">

                        <div class="panel-heading" style="padding-top:15px; padding-bottom:15px; background-color:white">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="toggle_visibility('foo'); toggle_minus('foo2')" class="fora" style="color:black">
                            <h4 class="panel-title text-left" style="font-size:18px">
                              Order Summary <i id="foo" style="visibility:visible" class="fa fa-plus"></i><i id="foo2" style="visibility:hidden; margin-left:-15px" class="fa fa-minus"></i>
                            </h4>
                            </a>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="row text-left" style="padding-left:15px; padding-right:15px; padding-top:30px">
                                <h5 style="margin-bottom:10px">Product</h5>
                                <div class="col-xs-9" style="padding-right:0px">

                                    <p class="summary">Product A (1 at $36.45)</p>

                                    <p class="total"><b>1 Product</b></p>
                                </div>
                                <div class="col-xs-3 text-right" style="padding-left:0px">

                                    <p class="summary">$36.45</p>
                                    <p class="total"><b>$36.45</b></p>
                                </div>
                            </div>

                            <div style="text-align:left !important; margin-top:0px">
                                <form action="{% url "shop:cart" %}" method="get">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</button>
                                </form>
                            </div>

                            <br><br>

                            <div class="row text-left" style="padding-left:15px; padding-right:15px">
                                <h5 style="margin-bottom:10px">Order Cost</h5>
                                <div class="col-xs-6" style="padding-right:0px">

                                    <p class="summary"><b>Item</b></p>
                                    <p class="summary">Taxes</p>
                                    <p class="summary">S &amp; H</p>
                                    <p class="total"><b>Grand Total</b></p>
                                </div>
                                <div class="col-xs-6 text-right" style="padding-left:0px">
                                    <p class="summary">$36.45</p>
                                    <p class="summary">$3.65</p>
                                    <p class="summary">FREE</p>
                                    <p class="total"><b>$40.10</b></p>
                                </div>
                            </div>                  
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-5 hidetext">
                <div class="jumbotron" style="padding-left:10px; padding-right:10px; background-color:white">
                    <h4>Order Summary</h4>
                    <div class="row" style="padding-left:15px; padding-right:15px">
                        <h5 style="margin-bottom:10px">Product</h5>
                        <div class="col-xs-6" style="padding-right:0px">

                            <p class="summary">Product A (1 at $36.45)</p>

                            <p class="total"><b>1 Product</b></p>
                        </div>
                        <div class="col-xs-6 text-right" style="padding-left:0px">

                            <p class="summary">$36.45</p>
                            <p class="total"><b>$36.45</b></p>
                        </div>
                    </div>

                    <div style="text-align:left !important; margin-top:0px">
                        <form action="{% url "shop:cart" %}" method="get">
                            <button type="submit" class="btn btn-default"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</button>
                        </form>
                    </div>

                    <br><br><br>

                    <div class="row" style="padding-left:15px; padding-right:15px">
                        <h5 style="margin-bottom:10px">Order Cost</h5>
                        <div class="col-xs-6" style="padding-right:0px">

                            <p class="summary"><b>Item</b></p>
                            <p class="summary">Taxes</p>
                            <p class="summary">S &amp; H</p>
                            <p class="total"><b>Grand Total</b></p>
                        </div>
                        <div class="col-xs-6 text-right" style="padding-left:0px">
                            <p class="summary">$36.45</p>
                            <p class="summary">$3.65</p>
                            <p class="summary">FREE</p>
                            <p class="total"><b>$40.10</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Col Right -->

            <script type="text/javascript">
            function toggle_visibility(id) {
             var e = document.getElementById(id);
             if(e.style.visibility== 'visible')
              e.style.visibility = 'hidden';
            else
              e.style.visibility = 'visible';
            }
            function toggle_minus(id) {
               var e = document.getElementById(id);
               if(e.style.visibility== 'visible')
                  e.style.visibility = 'hidden';
              else
                  e.style.visibility = 'visible';
            }
            </script>

            <div class="col-lg-7">
                <div class="jumbotron" style="background-color:white; padding-left:0px; padding-right:0px; display: none">
                    <h4>Click Below to Proceed</h4>
                    <div class="row" style="padding-left:15px; padding-right:15px">
                        <a href="{% url "shop:start_checkout" %}">
                            <div class="btn btn-default"><i class="fa fa-edit"></i>&nbsp;&nbsp;Insert Shipping Information</div>
                        </a>
                    </div>
                </div>

                <!-- Right Section - Confirm And Pay -->
                <div class="jumbotron" style="background-color:white; padding-left:0px; padding-right:0px; ">
                    <h4>Confirm &amp; Pay</h4>
                    <div class="row" style="padding-left:15px; padding-right:15px">
                    <h5 style="margin-bottom:10px">Shipping Information</h5>
                    <div class="col-xs-12" style="padding-right:0px">
                        <p class="confirm"><b>Name: </b>{{ request.session.user_info.name }}</p>
                        <p class="confirm"><b>Email: </b>{{ request.session.user_info.email }}</p>
                        <p class="confirm"><b>Phone: </b>{{ request.session.user_info.phone }}</p>
                        <p class="confirm"><b>Address: </b>{{ request.session.user_info.address1 }} 
                        {% if request.session.user_info.address2 %}, {{ request.session.user_info.address2 }}{% endif %}</p>
                        <p class="confirm">
                            <b>City, State Zip: </b>
                            {{ request.session.user_info.city }}, {{ request.session.user_info.state }} {{ request.session.user_info.zip_code }}
                        </p>
                    </div>
                    </div>
                    <a href="{% url "shop:start_checkout" %}">
                        <div class="btn btn-default"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</div>
                    </a>

                    <br><br><br><br>


                    <div class="row" style="padding-left:15px; padding-right:15px; ">
                        <h5 style="margin-bottom:15px; color:rgba(153,0,0,1)">Pay Here</h5>
                        <form action="process_paid.php" method="post">

                            <script src="https://checkout.stripe.com/checkout.js"></script>
                            <script src="http://code.jquery.com/jquery-latest.min.js"></script> 

                            <button class="btn btn-default" id="customButton"><i class="fa fa-credit-card"></i>&nbsp;&nbsp;Pay with Card</button>
                            <script>
                            $('#customButton').click(function(){
                               var token = function(res){
                                   var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                                   $('form').append($input).submit();
                               };

                               StripeCheckout.open({
                                   key:         'pk_test_bB8xy18A9CjxtzzFZz2AvESq',
                                   image:       'http://agriturfworldwide.com/agriturfsupplies.com/assets/img/stripe.png',
                                   address:     false,
                                   email:       'asdf@asdf.com',
                                   amount:      '4010',
                                   currency:    'usd',
                                   name:        'Agri-Turf Supplies, Inc.',
                                   description: '1 Product ($40.10)',
                                   panelLabel:  'Pay',
                                   token:       token
                               });

                               return false;
                           });
                            </script>
                            <input type="hidden" name="desc" value="1 Product ($40.10)">
                        </form>
                    </div>
                </div>
                <!-- End Right Section - Confirm And Pay -->

            </div>
        </div>

        <!-- Subscribe To Newsletter -->
        <div style="padding-left:10px" class="checkbox">
            <label><input type="checkbox" name="checked[]" value="1"><h5 style="margin-top:4px">Please send me the product labels for the products included in my order.</h5></label>
            <label><input type="checkbox" name="checked[]" checked="" value="2"><h5 style="margin-top:4px">Sign me up to recieve new product and service emails related to this purchase.</h5></label>
        </div>
        <!-- End Subscribe To Newsletter -->

        <br><br>        
    </div>
{% endblock %}