{% extends "base.html" %}
{% load static from staticfiles %}
{% block pagename %}Service{% endblock %}

{% block content %}

    <!-- Product Image and Description -->
    <div class="container" style="margin-bottom:25px; margin-top:100px">
        <div class="row">
            <div class="col-lg-5 col-sm-6" style="margin-top:40px">
                {% include 'shop/_product_images_widget.html' %}
            </div>

            {% include 'shop/_product_details.html' %}

        </div>

        <div class="organic">
            {% if product.organic %}
            <img src="{% static 'img/orgbadge.png' %}" class="orgimg" alt="Organic Product">
            {% endif %}
        </div>

    </div>

    {% include 'shop/_product_more_information_tabs.html' %}

    {% include 'shop/_product_related.html' %}

    <br>
    <br>
   
{% endblock %}