{% load static from staticfiles %}

    <!-- Social Share -->
    <div id="here" class="container" style="background-color:black; width: 100%; height:40px; padding-top:5px">
        <div class="row">
            <div class="col-lg-12 text-center" style="margin-top: 5px; margin-bottom:5px; overflow:hidden"><p class="sharer">
                <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=https://www.agriturfsupplies.com" class="sharer"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
                <a href="http://twitter.com/share?text=Check out the NEW Agri-Turf Supplies: &url=https://www.agriturfsupplies.com&hashtags=growmore,santabarbara,805living " class="sharer"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
                <font style="color:white"> - SHARE - </font>&nbsp;&nbsp;
                <a href="https://plus.google.com/share?url=www.agriturfsupplies.com" class="sharer"><i class="fa fa-google"></i></a>&nbsp;&nbsp;
                <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.agriturfsupplies.com&title=Check out the NEW Agri-Turf Supplies!&summary=Agri-Turf Supplies, Inc. is Santa Barbara's agricultural and pest control supplier. Visit its site to learn more.&source=The Agri-Turf Supplies Team" class="sharer"><i class="fa fa-linkedin"></i></a>    
            </p></div>
        </div>
    </div>
    <!-- End Social Share -->

    <!-- Newsletter -->
    <div class="container" style="background-color:rgba(153,153,153,.6); width: 100%; height:230px; padding-top:5px">
        <div class="text-center">
                <h3 class="taller">Join Our Newsletter</h3>
                <!--Subscribe Bar-->    
                <form name="addEmail" action="{% url "newsletter:subscribe" %}" onsubmit="return validateNewsletter()" method="POST">
                {% csrf_token %}
                <div style="margin-left:auto; margin-right:auto" class="input-group text-center special_width">
                    <input style="border-radius:0px !important" type="text" name="email" value="" placeholder="Subscribe" class="form-control">
                    <span class="input-group-btn">
                    <button class="btn btn-default" style="border-radius:0px !important"  type="submit" name="e_list" value="1"><i class="fa fa-thumbs-up"></i></button>
                    </span>
                </div>
                </form>
                <p class="news">Sign me up to receive emails on new product arrivals, special offers, and exclusive events.</p>
                <!--End of Subscribe Bar-->
        </div>
    </div>
    <!-- End Newsletter -->
    
    <footer id="contact">
        <div class="container text-center">
            <h2>Contact Us</h2>
            <div class="row">
                <div class="col-lg-6">
                    <p><b>Retail & Service Center</b></p>
                    <p>2257 Las Positas Road, Santa Barbara, CA 93105</p>
                    <p><b>Telephone:</b> (805) 569-2257</p>
                    <p><b>Email:</b> info@agriturfsupplies.com</p>
                </div>
                <div class="col-lg-6">
                    <p><b>Hours</b></p>
                    <p><b>Monday - Friday:</b> 7:00 am - 4:30 pm</p>
                    <p><b>Saturday:</b> 7:00 am - 4:30 pm</p>
                    <p><b>Sunday:</b> Closed</p>
                </div>
            </div>
            
            <div class="col-lg-12 text-center" style="margin-bottom:30px; margin-top:30px">
                <a style="color:black; text-decoration:none" href="{% url "content:send_message" %}">
                    <div class="btn btn-default btn-lg see_all">Send A Message</div>
                </a>
            </div>
            
        </div>
            {% if page == "home" %}
            <div class="overlay" onClick="style.pointerEvents='none'"></div>
            <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zL7VsRnhknUc.kRzpVrHDJ4oo" width="100%" height="480" marginheight="0" marginwidth="0" frameborder="0" scrolling="no"></iframe>
            {% endif %}
            
        <div class="container text-center" style="margin-top:30px"> 
            <img src="{% static "img/logo.png" %}" height="150px">
            <p>Agri-Turf Supplies, Inc. Copyright &copy; {% now "Y" %}</p>
            <hr>

            <!-- Footer Links -->
            <p style="color:black; text-decoration:none">
                <a style="color:black; text-decoration:none" href="{% url "content:careers" %}">Careers</a> &nbsp;&nbsp; 
                <a style="color:black; text-decoration:none" href="{% url "content:terms_of_use" %}">Terms of Use</a> &nbsp;&nbsp; 
                <a style="color:black; text-decoration:none" href="/admin">Employee Portal</a>
            </p>
            <br>

        </div>
    </footer>