    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                {% if page == "home" %}
                <a class="navbar-brand page-scroll" href="#page-top">
                {% else %}
                <a class="navbar-brand page-scroll" href="/">
                {% endif %}
                    <span class="light">Agri-Turf</span> Solutions
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

            {% if page == "home" %}

                <!-- Home page has a different nav bar -->
                <li>
                    <a class="page-scroll" href="#about"><i class="fa fa-users"></i><span class="verticalLine">&nbsp;</span>&nbsp;About</a>
                </li>
                <li>
                    <a href="{% url "services:search" %}" class=""><i class="fa fa-tree"></i><span class="verticalLine">&nbsp;</span>&nbsp;Solutions</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact"><i class="fa fa-globe"></i><span class="verticalLine">&nbsp;</span>&nbsp;Contact</a>
                </li>

            {% else %}

                <li>
                    <a class="{% if page == "about" %}active{% endif %}" href="{% url "content:about" %}"><i class="fa fa-users"></i><span class="verticalLine">&nbsp;</span>&nbsp;About</a>
                </li>
                <li>
                    <a href="{% url "services:search" %}" class="{% if page == "solutions" %}active{% endif %}"><i class="fa fa-tree"></i><span class="verticalLine">&nbsp;</span>&nbsp;Solutions</a>
                </li>
                <li>
                    <a class="{% if page == "contact" %}active{% endif %}" href="{% url "content:send_message" %}"><i class="fa fa-globe"></i><span class="verticalLine">&nbsp;</span>&nbsp;Contact</a>
                </li>

            {% endif %}
                <li>
                    <a class="{% if page == "cart" %}active{% endif %}" href="{% url "shop:cart" %}"><i class="fa fa-shopping-cart"></i><span class="verticalLine">&nbsp;</span>&nbsp;My Cart {% if request.session.cart_quantity %}({{ request.session.cart_quantity }}){% endif %}</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    {% if request.session.cart_quantity %}
    <div class="checkout">
        <a href="{% url "shop:start_checkout" %}">
        <div style="background-color:rgba(153,0,0,1); border-color:rgba(153,0,0,1); color:white" class="btn btn-default">
            <h3 class="formobile" style="margin-bottom:0px">Checkout&nbsp;&nbsp;&nbsp;&nbsp;</h3>
        </div>
        </a>
    </div>
    {% endif %}