{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Agri-Turf Supplies">
    <link rel="icon" href="ico/favicon.ico">

    <!-- CSS -->
    {% block css %}
    <link href="{% static "css/bootstrap.css"%}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link href="{% static "css/cases.css" %}" rel="stylesheet">
    {% endblock %}

    <!-- Custom Fonts -->
    <link href="{% static 'fa-4.2.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta name="description" content="Family owned business for over 60 years providing affordable agricultural and pest/rodent control services and supplies in Santa Barbara county.">
    
    <title>{% block title %}Agri-Turf Supplies: {% block pagename %}Homepage{% endblock %}{% endblock %}</title>
    
</head>

<body{% block body_tag%}{%endblock%}>

<!-- Main Nav -->
{% include "_nav.html" with page=page %}
<!-- End Main Nav -->

<!-- Main Content -->
{% block content %}{% endblock %}
<!-- End Main Content -->

<!-- Footer -->
{% include "_footer.html" with page=page %}
<!-- End Footer -->

<!-- Javascript -->
    {% block javascript %}
    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.js" %}"></script>
    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/grayscale.js" %}"></script>
    <!-- Form Validation -->
    <script src="{% static "js/validation.js" %}"></script>
    <!-- Google Analytics -->
    {% endblock %}
<!-- End Javascript -->
    
</body>

</html>
